<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.AssociateOutlesReMapper">

	<resultMap id="associateOutlesMap" type="com.pig4cloud.pig.admin.api.entity.AssociateOutlesRe">
		<result property="outlesId" column="outles_id"/>
		<result property="insAssociateId" column="ins_associate_id"/>
		<result property="authorizationTime" column="authorization_time"/>
	</resultMap>

	<select id="pageAssociateOutles" resultType="com.pig4cloud.pig.admin.api.vo.AssociateOutlesReVO">
		SELECT
		associate_outles.*,
		outles.outles_name,
		institution.ins_name
		FROM
		p10_associate_outles_re associate_outles
		LEFT JOIN p10_outles outles ON outles.outles_id = associate_outles.outles_id
		LEFT JOIN p10_institution institution ON institution.ins_id = associate_outles.ins_associate_id
		WHERE associate_outles.ins_id = #{query.insId} and associate_outles.ins_associate_id = #{query.insAssociateId}
	</select>

	<select id="queryCooperateOutlesPage" resultType="com.pig4cloud.pig.admin.api.vo.AssociateOutlesRePageVO">
		SELECT
		associate_outles.authorization_time as cooperateTime,
		outles.outles_name as cooperateOutlesName,
		institution.ins_name as authorizeInsName
		FROM
		p10_associate_outles_re associate_outles
		LEFT JOIN p10_outles outles ON outles.outles_id = associate_outles.outles_id
		LEFT JOIN p10_institution institution ON institution.ins_id = associate_outles.ins_associate_id
		WHERE associate_outles.ins_id = #{query.insAssociateId} and associate_outles.ins_associate_id = #{query.insId}
	</select>

</mapper>
