<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.InstitutionAssociateMapper">

	<resultMap id="institutionAssociateMap" type="com.pig4cloud.pig.admin.api.entity.InstitutionAssociate">
		<id property="associateId" column="associate_id"/>
		<result property="insId" column="ins_id"/>
		<result property="insAssociateId" column="ins_associate_id"/>
		<result property="associateTime" column="associate_time"/>
		<result property="associateStatus" column="associate_status"/>
		<result property="associateRemark" column="associate_remark"/>
	</resultMap>

	<select id="pageInstitutionAssociate" resultType="com.pig4cloud.pig.admin.api.vo.InstitutionAssociatePageVO">
		select
		institution_associate.*,
		associate_institution.ins_name ,
		associate_institution.ins_type,
		institution.ins_type institutionType,
		p10_address.address_id,
		p10_address.province,
		p10_address.city,
		p10_address.area,
		p10_address.information_address,
		p10_address.code
-- 		institution.ins_principal_name
		from
		p10_institution_associate institution_associate
		LEFT JOIN p10_institution associate_institution ON associate_institution.ins_id = institution_associate.ins_associate_id
		LEFT JOIN p10_institution institution ON institution.ins_id = institution_associate.ins_id
		left join p10_address on p10_address.user_id = institution.ins_id and p10_address.type = 2
		where
		institution.del_flag = '0'
		<if test="query.insId != null and query.insId != ''">
			AND institution_associate.ins_id = #{query.insId}
		</if>
	</select>


	<select id="queryById" resultType="com.pig4cloud.pig.admin.api.vo.InstitutionAssociateDetailsVO">
		select
		institution_associate.associate_id,
		institution_associate.ins_id,
		institution_associate.ins_associate_id,
		institution_associate.associate_time,
		institution_associate.associate_status,
		institution_associate.associate_remark,
		institution.ins_name,
		institution.ins_type,
		p10_address.*
		from
		p10_institution_associate institution_associate
		LEFT JOIN p10_institution institution ON institution.ins_id = institution_associate.ins_associate_id
		LEFT JOIN p10_address ON p10_address.user_id = institution.ins_id and p10_address.type = 2
		WHERE
		institution.del_flag = '0'
		AND institution_associate.associate_id = #{associateId}
	</select>

	<select id="getAssociateCourt" resultType="com.pig4cloud.pig.admin.api.vo.CourtAndCourtInsIdVO">
		SELECT
			p10_court.*,
			p10_institution_associate.ins_associate_id AS courtInsId
		FROM
		p10_institution_associate
		LEFT JOIN p10_institution ON p10_institution_associate.ins_associate_id = p10_institution.ins_id
		LEFT JOIN p10_relationship_authenticate ON p10_institution.ins_id = p10_relationship_authenticate.authenticate_id
		LEFT JOIN p10_court ON p10_relationship_authenticate.authenticate_goal_id = p10_court.court_id
		WHERE
		p10_institution_associate.ins_id = #{insId}
		AND p10_institution_associate.associate_status = 100
		AND p10_institution.ins_type = 1500
		<if test="courtName != null and courtName != ''">
			AND p10_court.court_name like concat('%', #{courtName}, '%')
		</if>
		<if test="courtInsIds != null and courtInsIds.size() > 0">
			AND p10_institution_associate.ins_associate_id not in
			<foreach collection="courtInsIds" item="item" open="(" close=")" separator="," >
				#{item}
			</foreach>
		</if>
	</select>

</mapper>
