<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.InstitutionMapper">

	<resultMap id="institutionMap" type="com.pig4cloud.pig.admin.api.entity.Institution">
		<id property="insId" column="ins_id"/>
		<result property="insName" column="ins_name"/>
<!--		<result property="userId" column="user_id"/>-->
<!--		<result property="insPrincipalName" column="ins_principal_name"/>-->
<!--		<result property="insPrincipalPhone" column="ins_principal_phone"/>-->
		<result property="insType" column="ins_type"/>
		<result property="addressId" column="address_id"/>
		<result property="insFax" column="ins_fax"/>
		<result property="insLandLinePhone" column="ins_land_line_phone"/>
		<result property="canDisable" column="can_disable"/>
		<result property="insRemark" column="ins_remark"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<resultMap id="institutionVOMap" type="com.pig4cloud.pig.admin.api.vo.InstitutionVO">
		<id property="insId" column="ins_id"/>
		<result property="insName" column="ins_name"/>
<!--		<result property="userId" column="user_id"/>-->
<!--		<result property="insPrincipalName" column="ins_principal_name"/>-->
<!--		<result property="insPrincipalPhone" column="ins_principal_phone"/>-->
		<result property="insType" column="ins_type"/>
		<result property="addressId" column="address_id"/>
		<result property="insFax" column="ins_fax"/>
		<result property="insLandLinePhone" column="ins_land_line_phone"/>
		<result property="canDisable" column="can_disable"/>
		<result property="insRemark" column="ins_remark"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<select id="getByInsName" resultType="com.pig4cloud.pig.admin.api.vo.InstitutionVO">
		SELECT  distinct
		institution.ins_id,
		institution.ins_name,
-- 		institution.user_id,
-- 		institution.ins_principal_name,
-- 		institution.ins_principal_phone,
		institution.ins_type,
		institution.address_id,
		institution.ins_fax,
		institution.ins_land_line_phone,
		institution.ins_remark,
		CASE
			WHEN institution_associate.associate_status IS NULL THEN
				- 1
			ELSE
			    institution_associate.associate_status
			END associate_status
		FROM
			p10_institution institution
			LEFT JOIN p10_institution_associate institution_associate ON institution.ins_id = institution_associate.ins_associate_id AND institution_associate.ins_id = #{insId}
			WHERE
			institution.del_flag = '0'
			AND institution.ins_name LIKE CONCAT('%', #{insName},'%')
			AND institution.ins_id != #{insId}
			AND ins_type != 1000
			LIMIT 15
	</select>

	<select id="getInstitutionVosPage" resultMap="institutionVOMap">
		SELECT
		`institution`.ins_id,
		`institution`.ins_name,
-- 		`institution`.ins_principal_name,
-- 		`institution`.ins_principal_phone,
		`institution`.ins_type,
		`institution`.address_id,
		`institution`.ins_fax,
		`institution`.ins_land_line_phone,
		`institution`.ins_remark,
		`institution`.create_time,
		`institution`.update_time,
		`institution`.del_flag
		FROM
		p10_institution institution
		<where>
			`institution`.del_flag = '0'
			<if test="query.insName != null and query.insName != ''">
				and `institution`.ins_name LIKE CONCAT('%',#{query.insName},'%')
			</if>
			<if test="query.insType != null and query.insType != ''">
				and `institution`.ins_type LIKE CONCAT('%',#{query.insType},'%')
			</if>
		</where>
		ORDER BY `institution`.create_time DESC
	</select>

	<select id="getInstitutionById" resultMap="institutionVOMap">
	SELECT
		`institution`.ins_id,
		`institution`.ins_name,
-- 		`institution`.ins_principal_name,
-- 		`institution`.ins_principal_phone,
		`institution`.ins_type,
		`institution`.address_id,
		`institution`.ins_fax,
		`institution`.ins_land_line_phone,
		`institution`.ins_remark,
		`institution`.create_time,
		`institution`.update_time,
		`institution`.del_flag
		FROM
		p10_institution institution
		WHERE
		`institution`.del_flag = '0'
		AND `institution`.ins_id = #{insId}
	</select>

	<select id="queryCurrentInstitution" resultType="com.pig4cloud.pig.admin.api.vo.OrganizationQueryVO">
		select distinct
		<if test="query.insId == null and query.outlesId == null and query.userId == null">
			p10_institution.ins_id AS id,p10_institution.ins_name AS name
		</if>
		<if test="query.insId != null and query.outlesId == null and query.userId == null">
			p10_outles.outles_id AS id,p10_outles.outles_name AS name
		</if>
		<if test="query.insId != null and query.outlesId != null and query.userId == null">
			staff.user_id AS id,staff.job_title AS name
		</if>
		from p10_institution
		<if test="(query.insId != null and query.outlesId == null and query.userId == null) or (query.insId != null and query.outlesId != null and query.userId == null)">
			left JOIN p10_outles on p10_outles.ins_id = p10_institution.ins_id and p10_outles.del_flag = 0
		</if>
		<if test="query.insId != null and query.outlesId != null and query.userId == null">
			left join p10_user_outles_staff_re on p10_user_outles_staff_re.outles_id = p10_outles.outles_id
			left join p10_user_institution_staff staff on staff.staff_id = p10_user_outles_staff_re.staff_id and staff.del_flag = 0
		</if>
		where p10_institution.del_flag = 0
		<if test="query.insType != null">
			and p10_institution.ins_type = #{query.insType}
		</if>
		<if test="query.echoInsId != null">
			and p10_institution.ins_id = #{query.insId}
		</if>
		<if test="roleType == 10000">
			<!--当前登录机构id -->
			<if test="query.loginInsId != null">
				and p10_institution.ins_id = #{query.loginInsId}
			</if>
			<if test="query.insId != null">
				and p10_institution.ins_id = #{query.insId}
			</if>
			<!--当前登录网点id -->
			<if test="query.loginOutlesId != null and query.insId != null">
				and p10_outles.outles_id = #{query.loginOutlesId}
			</if>
			<if test="query.echoOutlesId != null">
				and p10_outles.outles_id = #{query.echoOutlesId}
			</if>
			<if test="query.outlesId != null">
				and p10_outles.outles_id = #{query.outlesId}
				and p10_user_outles_staff_re.role_type = 0
			</if>
			<if test="query.echoUserId != null">
				and staff.user_id = #{query.echoUserId}
			</if>
			<if test="query.userId != null">
				and staff.user_id = #{query.userId}
			</if>
		</if>
		<if test="query.name != null">
			<if test="query.insId == null and query.outlesId == null and query.userId == null">
				and p10_institution.ins_name like concat('%', #{query.name}, '%')
			</if>
			<if test="query.insId != null and query.outlesId == null and query.userId == null">
				and p10_outles.outles_name like concat('%', #{query.name}, '%')
			</if>
			<if test="query.insId != null and query.outlesId != null and query.userId == null">
				and  staff.job_title like concat('%', #{query.name}, '%')
			</if>
		</if>
	</select>

	<select id="queryAssociatedInstitutions" resultType="com.pig4cloud.pig.admin.api.vo.OrganizationQueryVO">
		select distinct
		<if test="query.insId == null and query.outlesId == null and query.userId == null">
			p10_institution.ins_id AS id,p10_institution.ins_name AS name
		</if>
		<if test="query.insId != null and query.outlesId == null and query.userId == null">
			p10_outles.outles_id AS id,p10_outles.outles_name AS name
		</if>
		<if test="query.insId != null and query.outlesId != null and query.userId == null">
			staff.staff_id AS id,staff.job_title AS name
		</if>
		from p10_institution_associate
		<if test="(query.insId == null and query.outlesId == null and query.userId == null) or (query.insId != null and query.outlesId == null and query.userId == null) or (query.insId != null and query.outlesId != null and query.userId == null)">
			left JOIN p10_institution on p10_institution_associate.ins_associate_id = p10_institution.ins_id and
			p10_institution_associate.associate_status = 100
			left join p10_associate_outles_re on p10_associate_outles_re.ins_id =
			p10_institution_associate.ins_associate_id
		</if>
		<if test="(query.insId != null and query.outlesId == null and query.userId == null) or (query.insId != null and query.outlesId != null and query.userId == null)">
			left JOIN p10_outles on p10_outles.outles_id = p10_associate_outles_re.outles_id and p10_outles.del_flag = 0
		</if>
		<if test="query.insId != null and query.outlesId != null and query.userId == null">
			left join p10_user_outles_staff_re on p10_user_outles_staff_re.outles_id = p10_outles.outles_id
			left join p10_user_institution_staff staff on staff.staff_id = p10_user_outles_staff_re.staff_id and staff.del_flag = 0
		</if>
		where p10_institution.del_flag = 0
		<if test="query.insType != null  and query.type == 2">
			and p10_institution.ins_type != #{query.insType}
		</if>

		<if test="query.insType != null and query.type == 0">
			and p10_institution.ins_type = #{query.insType}
		</if>

		<if test="query.echoInsId != null">
			and p10_institution.ins_id = #{query.insId}
		</if>
		<if test="roleType == 10000">
			<!--当前登录机构id -->
			<if test="query.loginInsId != null">
				and p10_institution_associate.ins_id = #{query.loginInsId}
			</if>

			<if test="query.insId != null">
				and p10_institution_associate.ins_associate_id = #{query.insId}
			</if>

			<if test="query.echoOutlesId != null">
				and p10_outles.outles_id = #{query.echoOutlesId}
			</if>

			<if test="query.outlesId != null">
				and p10_outles.outles_id = #{query.outlesId}
				and p10_user_outles_staff_re.role_type = 0
			</if>

			<if test="query.echoUserId != null">
				and staff.user_id = #{query.echoUserId}
			</if>
		</if>

		<if test="query.name != null">
			<if test="query.insId == null and query.outlesId == null and query.userId == null">
				and p10_institution.ins_name like concat('%', #{query.name}, '%')
			</if>
			<if test="query.insId != null and query.outlesId == null and query.userId == null">
				and p10_outles.outles_name like concat('%', #{query.name}, '%')
			</if>
			<if test="query.insId != null and query.outlesId != null and query.userId == null">
				and staff.job_title like concat('%', #{query.name}, '%')
			</if>
		</if>
	</select>

	<select id="selectPage" resultType="com.pig4cloud.pig.admin.api.vo.InstitutionPageVO">
		select * from p10_institution
		left join p10_address on p10_address.address_id = p10_institution.address_id and p10_address.type = 1
		where p10_institution.del_flag = 0
		<if test="query.insName != null">
			and p10_institution.ins_name like concat('%', #{query.insName}, '%')
		</if>
		<if test="query.insType != null">
			and p10_institution.ins_type like concat('%', #{query.insType}, '%')
		</if>
	</select>

</mapper>
