<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.OutlesMapper">

	<resultMap id="outlesMap" type="com.pig4cloud.pig.admin.api.entity.Outles">
		<id property="outlesId" column="outles_id"/>
		<result property="outlesName" column="outles_name"/>
		<result property="insId" column="ins_id"/>
<!--		<result property="userId" column="user_id"/>-->
		<result property="alias" column="alias"/>
		<result property="outlesLandLinePhone" column="outles_land_line_phone"/>
		<result property="outlesRemark" column="outles_remark"/>
		<result property="canDefault" column="can_default"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<resultMap id="outlesVOMap" type="com.pig4cloud.pig.admin.api.vo.OutlesVO">
		<id property="outlesId" column="outles_id"/>
		<result property="outlesName" column="outles_name"/>
		<result property="insId" column="ins_id"/>
<!--		<result property="userId" column="user_id"/>-->
		<result property="alias" column="alias"/>
		<result property="outlesLandLinePhone" column="outles_land_line_phone"/>
		<result property="outlesRemark" column="outles_remark"/>
		<result property="canDefault" column="can_default"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="insName" column="ins_name"/>
		<result property="nickName" column="nick_name"/>
		<result property="phone" column="phone"/>
		<result property="insName" column="ins_name"/>
		<result property="address.addressId" column="address_id"/>
		<result property="address.province" column="province"/>
		<result property="address.city" column="city"/>
		<result property="address.area" column="area"/>
		<result property="address.informationAddress" column="information_address"/>
		<result property="address.code" column="code"/>
		<collection property="templateId" ofType="java.lang.Integer"
					select="com.pig4cloud.pig.admin.mapper.OutlesTemplateReMapper.getTemplateIdByOutlesId" column="outles_id">
		</collection>
	</resultMap>

	<select id="pageOutles" resultMap="outlesVOMap">
		SELECT
		outles.outles_id,
		outles.outles_name,
		outles.ins_id,
-- 		outles.user_id,
		outles.address_id,
		outles.alias,
		outles.outles_land_line_phone,
		outles.outles_remark,
		outles.can_default,
		outles.create_time,
		outles.create_by,
		outles.update_time,
		outles.update_by,
		outles.del_flag,
		ins.ins_name,
		sys_user.nick_name,
		sys_user.phone,
		address.address_id,
		address.province,
		address.city,
		address.area,
		address.code,
		address.information_address
		FROM
		p10_outles outles
		LEFT JOIN p10_institution ins ON ins.ins_id = outles.ins_id
		LEFT JOIN sys_user ON sys_user.user_id = outles.user_id
		LEFT JOIN p10_address address ON address.user_id = outles_id and address.type = 3
		WHERE
			outles.del_flag = '0'
			AND ins.del_flag = '0'
			AND sys_user.del_flag = '0'
			AND outles.ins_id = #{query.insId}
	</select>

	<select id="getByIdOutles" resultMap="outlesVOMap">
		SELECT
		outles.outles_id,
		outles.outles_name,
		outles.ins_id,
-- 		outles.user_id,
		outles.alias,
		outles.outles_land_line_phone,
		outles.outles_remark,
		outles.can_default,
		outles.create_time,
		outles.create_by,
		outles.update_time,
		outles.update_by,
		outles.del_flag,
		ins.ins_name,
		sys_user.nick_name,
		sys_user.phone
		FROM
		p10_outles outles
		LEFT JOIN p10_institution ins ON ins.ins_id = outles.ins_id
		LEFT JOIN sys_user ON sys_user.user_id = outles.user_id
		WHERE
			outles.del_flag = '0'
			AND sys_user.del_flag = '0'
			AND outles.outles_id = #{outlesId}
	</select>

	<select id="batchQueryOutlesId" resultMap="outlesVOMap">
		SELECT
		outles.outles_id,
		outles.outles_name,
		outles.ins_id,
-- 		outles.user_id,
		outles.address_id,
		outles.alias,
		outles.outles_land_line_phone,
		outles.outles_remark,
		outles.can_default,
		outles.create_time,
		outles.create_by,
		outles.update_time,
		outles.update_by,
		outles.del_flag,
		ins.ins_name,
		sys_user.nick_name,
		sys_user.phone
		FROM
		p10_outles outles
		LEFT JOIN p10_institution ins ON ins.ins_id = outles.ins_id
		LEFT JOIN sys_user ON sys_user.user_id = outles.user_id
		WHERE
			outles.del_flag = '0'
			AND sys_user.del_flag = '0'
			AND outles.outles_id in
		<foreach item="item" index="index" collection="outlesIds" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="getOutlesListByUserId" resultMap="outlesMap">
		SELECT
		outles.outles_id,
		outles.outles_name,
		outles.ins_id,
-- 		outles.user_id,
		outles.address_id,
		outles.alias,
		outles.outles_land_line_phone,
		outles.outles_remark,
		outles.can_default,
		outles.create_time,
		outles.create_by,
		outles.update_time,
		outles.update_by,
		outles.del_flag
		FROM
			p10_user_outles_staff_re UOSR
			LEFT JOIN p10_outles outles ON outles.outles_id = UOSR.outles_id
		WHERE
			outles.del_flag = '0'
			AND UOSR.user_id = #{userId}
	</select>

	<select id="getOutlesListByStaffId" resultMap="outlesMap">
		SELECT
		outles.outles_id,
		outles.outles_name,
		outles.ins_id,
-- 		outles.user_id,
		outles.alias,
		outles.outles_land_line_phone,
		outles.outles_remark,
		outles.can_default,
		outles.create_time,
		outles.create_by,
		outles.update_time,
		outles.update_by,
		outles.del_flag
		FROM
			p10_user_outles_staff_re UOSR
			LEFT JOIN p10_outles outles ON outles.outles_id = UOSR.outles_id
		WHERE
			outles.del_flag = '0'
			AND UOSR.staff_id = #{staffId}
	</select>

	<select id="getInsIdOrOutlesNameList" resultMap="outlesMap">
		SELECT
		outles.outles_id,
		outles.outles_name,
		outles.ins_id,
-- 		outles.user_id,
		outles.address_id,
		outles.alias,
		outles.outles_land_line_phone,
		outles.outles_remark,
		outles.can_default,
		outles.create_time,
		outles.create_by,
		outles.update_time,
		outles.update_by,
		outles.del_flag
		FROM
		p10_outles outles
		<where>
			outles.del_flag = '0'
			<if test="insId != null and insId != ''">
				and outles.ins_id =#{insId}
			</if>
			<if test="outlesName != null and outlesName != ''">
				and outles.outles_name LIKE CONCAT('%',#{outlesName},'%')
			</if>
		</where>
	</select>

	<select id="listOutlesId" resultType="java.lang.Integer">
		SELECT
            o.outles_id
        FROM
        p10_outles o, p10_user_outles_staff_re sr WHERE o.outles_id = sr.outles_id AND o.del_flag = '0' and sr.staff_id IN (#{userInsId})
	</select>

	<select id="listOutles" resultType="com.pig4cloud.pig.admin.api.entity.Outles">
		SELECT
            o.*
        FROM
        p10_outles o, p10_user_outles_staff_re sr WHERE o.outles_id = sr.outles_id AND o.del_flag = '0' and sr.staff_id IN (#{userInsId})
	</select>

	<!--***********************************************************	-->

	<select id="selectPage" resultType="com.pig4cloud.pig.admin.api.vo.OutlesPageVO">
		select * from p10_outles
		left join p10_address on p10_address.user_id = p10_outles.outles_id and p10_address.type = 3
		left join p10_institution ON p10_institution.ins_id = p10_outles.ins_id
		where p10_outles.del_flag = 0
		<if test="insId != 0 and insId != null">
			and p10_outles.ins_id = #{insId}
		</if>
		<if test="query.outlesName != null">
			and p10_outles.outles_name like concat('%', #{query.outlesName}, '%')
		</if>
		ORDER BY p10_outles.create_time DESC
	</select>

	<select id="selectDetailsById" resultType="com.pig4cloud.pig.admin.api.vo.OutlesDetailsVO">
		select * from p10_outles
		left join p10_address on p10_address.user_id = p10_outles.outles_id and p10_address.type = 3
		where p10_outles.del_flag = 0
		and p10_outles.outles_id = #{outlesId}
		limit 1
	</select>

	<select id="selectByUserId" resultType="com.pig4cloud.pig.admin.api.entity.Outles">
		select distinct p10_outles.* from p10_outles
		left join p10_ins_outles_user on p10_ins_outles_user.outles_id = p10_outles.outles_id and p10_ins_outles_user.del_flag = 0
		where p10_outles.del_flag = 0 and p10_ins_outles_user.ins_id = #{insId} and p10_ins_outles_user.user_id = #{userId}
	</select>

	<select id="querySelectByOutlesId" resultType="com.pig4cloud.pig.admin.api.vo.OrganizationQueryVO">
		select p10_outles.outles_id as id,p10_outles.outles_name as name from p10_outles
		where p10_outles.del_flag = 0
		<if test="outlesId != null and outlesId != 0">
			and p10_outles.outles_id = #{outlesId}
		</if>
		<if test="insId != null and insId != 0">
			and p10_outles.ins_id = #{insId}
		</if>
		LIMIT 10
	</select>

	<select id="pageCooperateByOutlesId" resultType="com.pig4cloud.pig.admin.api.vo.OrganizationQueryVO">
		select p10_outles.outles_id as id,p10_outles.outles_name as name from p10_outles
		LEFT JOIN p10_associate_outles_re on p10_associate_outles_re.outles_id = p10_outles.outles_id and p10_associate_outles_re.ins_id = #{insId}
		where p10_outles.del_flag = 0
		<if test="loginInsId != null and loginInsId != 0">
			and p10_associate_outles_re.ins_associate_id = #{loginInsId}
		</if>
		<if test="query.outlesName != null and query.outlesName != ''">
			and p10_outles.outles_name like concat('%', #{query.outlesName}, '%')
		</if>
		LIMIT 10
	</select>


</mapper>
