<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.StaffDeptReMapper">

  <resultMap id="staffDeptReMap" type="com.pig4cloud.pig.admin.api.entity.StaffDeptRe">
    <id property="staffId" column="staff_id"/>
    <result property="deptId" column="dept_id"/>
  </resultMap>

	<select id="listDeptListByStaffId" resultType="com.pig4cloud.pig.admin.api.entity.SysDept">
		SELECT d.dept_id,d.name,d.ins_id,d.sort,d.del_flag,d.parent_id,d.create_time,d.create_by,d.update_time,d.update_by FROM sys_dept d, p10_staff_dept_re sd WHERE d.dept_id = sd.dept_id AND d.del_flag = 0 and sd.staff_id IN (#{staffId})
	</select>

	<select id="listDeptIdListByStaffId" resultType="java.lang.Integer">
		SELECT d.dept_id FROM sys_dept d, p10_staff_dept_re sd WHERE d.dept_id = sd.dept_id AND d.del_flag = 0 and sd.staff_id IN (#{staffId})
	</select>

</mapper>
