<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SubjectMapper">

	<resultMap id="subjectMap" type="com.pig4cloud.pig.admin.api.entity.Subject">
		<id property="subjectId" column="subject_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="unifiedIdentity" column="unified_identity"/>
		<result property="natureType" column="nature_type"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="legalPerson" column="legal_person"/>
		<result property="email" column="email"/>
		<result property="userId" column="user_id"/>
		<result property="remark" column="remark"/>
		<result property="isAuthentication" column="is_authentication"/>
		<result property="employer" column="employer"/>
		<result property="gender" column="gender"/>
		<result property="ethnic" column="ethnic"/>
	</resultMap>

	<resultMap id="SubjectVO" type="com.pig4cloud.pig.admin.api.vo.SubjectVO" extends="subjectMap">
		<collection property="addressList" ofType="com.pig4cloud.pig.admin.api.vo.SubjectVO"
					select="com.pig4cloud.pig.admin.mapper.AddressMapper.getByAddressList" column="subject_id">
		</collection>
	</resultMap>

	<resultMap id="SubjectGetByIdVO" type="com.pig4cloud.pig.admin.api.vo.SubjectGetByIdVO" extends="subjectMap">
		<collection property="addressList" ofType="com.pig4cloud.pig.admin.api.vo.SubjectGetByIdVO"
					select="com.pig4cloud.pig.admin.mapper.AddressMapper.getByAddressList" column="subject_id">
		</collection>
	</resultMap>

	<select id="getByUnifiedIdentity" resultMap="SubjectVO">
		select * from p10_subject where unified_identity=#{unifiedIdentity} and del_flag = 0
	</select>

	<select id="getBySubjectId" resultMap="SubjectGetByIdVO">
		select * from p10_subject where subject_id=#{subjectId} and del_flag=0
	</select>

	<select id="pageSubject" resultMap="subjectMap">
		select p10_subject.* from p10_subject
		WHERE del_flag = 0
		<if test="query.name != null and query.name != ''">
			AND `name` LIKE concat('%', #{query.name}, '%')
		</if>
		<if test="query.phone != null and query.phone != ''">
			AND phone LIKE concat(#{query.phone}, '%')
		</if>
		<if test="query.unifiedIdentity != null and query.unifiedIdentity != ''">
			AND unified_identity LIKE concat(#{query.unifiedIdentity}, '%')
		</if>
		<if test="query.natureType != null and query.natureType != -1">
			AND nature_type = #{query.natureType}
		</if>
	</select>

	<select id="selectSubjectById" resultMap="SubjectVO">
		SELECT * FROM p10_subject WHERE del_flag = 0 AND subject_id = #{subjectId}
	</select>

	<select id="selectPageByProjectId" resultType="com.pig4cloud.pig.admin.api.vo.SubjectProjectCaseeVO">
		select p10_subject.*,p10_project_subject_re.type from p10_project_subject_re
		left join p10_subject on p10_subject.subject_id = p10_project_subject_re.subject_id
		where p10_project_subject_re.del_flag = 0
		and p10_project_subject_re.project_id = #{query.projectId}
		<if test="query.type != null and query.type.size()>0">
			and p10_project_subject_re.type in
			<foreach item="item" index="index" collection="query.type"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<select id="selectPageByCaseeId" resultType="com.pig4cloud.pig.admin.api.vo.SubjectProjectCaseeVO">
		select p10_subject.*,p10_casee_subject_re.type from p10_casee_subject_re
		left join p10_subject on p10_subject.subject_id = p10_casee_subject_re.subject_id
		where p10_casee_subject_re.del_flag = 0
		and p10_casee_subject_re.casee_id = #{query.caseeId}
		<if test="query.type != null and query.type.size()>0">
			and p10_casee_subject_re.type in
			<foreach item="item" index="index" collection="query.type"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<select id="getSubjectDetailBySubjectId" resultType="com.pig4cloud.pig.admin.api.vo.SubjectDetailsVO">
		SELECT * FROM p10_subject LEFT JOIN p10_address ON p10_subject.subject_id = p10_address.user_id AND p10_address.type = 1 WHERE p10_subject.del_flag = 0 AND p10_subject.subject_id = #{subjectId}
	</select>

	<select id="getIsThereASubjectByUnifiedIdentity" resultType="int">
		SELECT count(0) FROM p10_institution_subject_re
		LEFT JOIN  p10_subject ON p10_institution_subject_re.subject_id = p10_subject.subject_id and  p10_subject.del_flag = 0
		WHERE p10_institution_subject_re.del_flag = 0 AND  p10_subject.unified_identity = #{unifiedIdentity} AND p10_institution_subject_re.ins_id = #{insId}
	</select>

	<select id="getByInsId" resultType="com.pig4cloud.pig.admin.api.entity.Subject">
		select p10_subject.* from p10_subject
		left join p10_institution_subject_re on p10_institution_subject_re.subject_id = p10_subject.subject_id
		where p10_subject.del_flag = 0
		and p10_institution_subject_re.ins_id = #{insId}
		limit 1
	</select>

	<select id="getSubjectByBankLoanId" resultType="com.pig4cloud.pig.admin.api.entity.Subject">
		select
			p10_subject.*
		from p10_subject_bank_loan_re
			left join p10_subject on p10_subject.subject_id=p10_subject_bank_loan_re.subject_id
		where
			p10_subject_bank_loan_re.bank_loan_id=#{bankLoanId}
	</select>

	<select id="selectPageList" resultMap="subjectMap">
		select DISTINCT p10_subject.* from p10_project
		left join p10_project_subject_re on p10_project_subject_re.project_id = p10_project.project_id
		left join p10_subject on p10_subject.subject_id = p10_project_subject_re.subject_id
		where p10_project.del_flag = 0
		and p10_project_subject_re.type in (1,2,3)
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.name != null and query.name != ''">
			AND name LIKE concat('%', #{query.name}, '%')
		</if>
		<if test="query.phone != null and query.phone != ''">
			AND phone LIKE concat(#{query.phone}, '%')
		</if>
		<if test="query.unifiedIdentity != null and query.unifiedIdentity != ''">
			AND unified_identity LIKE concat(#{query.unifiedIdentity}, '%')
		</if>
		<if test="query.natureType != null and query.natureType != -1">
			AND nature_type = #{query.natureType}
		</if>
	</select>

	<select id="getByPhone" resultMap="SubjectVO">
		select * from p10_subject where phone=#{phone} and del_flag = 0
	</select>

	<select id="getByUnifiedIdentityAndPhone" resultMap="SubjectVO">
		select * from p10_subject where phone=#{phone} and unified_identity=#{unifiedIdentity} and del_flag = 0
	</select>
</mapper>
