<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsLiquiTransferRecordReMapper">

	<resultMap id="assetsLiquiTransferRecordReMap" type="com.pig4cloud.pig.casee.entity.AssetsLiquiTransferRecordRe">
		<id property="assetsLiquiTransferRecordId" column="assets_liqui_transfer_record_id"/>
		<result property="assetsReId" column="assets_re_id"/>
		<result property="liquiTransferRecordId" column="liqui_transfer_record_id"/>
	</resultMap>

	<select id="queryAssetsByLiQuiTransferRecordId" resultType="com.pig4cloud.pig.casee.vo.AssetsVO">
		SELECT
		p10_assets.*,
		p10_address.*,
		p10_assets_re.assets_re_id assetsReId
		FROM
		`p10_assets_liqui_transfer_record_re`
		LEFT JOIN p10_assets_re ON p10_assets_re.assets_re_id = p10_assets_liqui_transfer_record_re.assets_re_id
		LEFT JOIN p10_assets ON p10_assets.assets_id=p10_assets_re.assets_id
		LEFT JOIN p10_address ON p10_address.user_id=p10_assets.assets_id AND p10_address.type=4
		WHERE p10_assets_liqui_transfer_record_re.liqui_transfer_record_id=#{liquiTransferRecordId}
	</select>

	<select id="queryAssetsReDTOByLiQuiTransferRecordId" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiVO">
		SELECT
		p10_assets.*,
		p10_assets_re.*,
		p10_address.*
		FROM
		`p10_assets_liqui_transfer_record_re`
		LEFT JOIN p10_assets_re ON p10_assets_re.assets_re_id = p10_assets_liqui_transfer_record_re.assets_re_id
		LEFT JOIN p10_assets ON p10_assets.assets_id=p10_assets_re.assets_id
		LEFT JOIN p10_address ON p10_address.user_id=p10_assets.assets_id AND p10_address.type=4
		WHERE p10_assets_liqui_transfer_record_re.liqui_transfer_record_id=#{liquiTransferRecordId}
	</select>

	<select id="getByTransferRecordAssets" resultType="com.pig4cloud.pig.casee.entity.AssetsLiquiTransferRecordRe">
	SELECT
	p10_assets_liqui_transfer_record_re.*
	FROM
	p10_project
	LEFT JOIN p10_liqui_transfer_record ON p10_liqui_transfer_record.project_id = p10_project.project_id AND p10_liqui_transfer_record.`status` != 2
	LEFT JOIN p10_assets_liqui_transfer_record_re on p10_assets_liqui_transfer_record_re.liqui_transfer_record_id=p10_liqui_transfer_record.liqui_transfer_record_id
	WHERE
	p10_project.project_id = #{projectId}
	and p10_assets_liqui_transfer_record_re.assets_re_id=#{assetsReId}
	</select>

</mapper>
