<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsMapper">

	<resultMap id="assetsMap" type="com.pig4cloud.pig.casee.entity.Assets">
		<id property="assetsId" column="assets_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsName" column="assets_name"/>
		<result property="type" column="type"/>
		<result property="assetsType" column="assets_type"/>
		<result property="assetsDetail" column="assets_detail"/>
		<result property="describes" column="describes"/>
		<result property="accountNumber" column="account_number"/>
	</resultMap>

	<select id="getByAssets" resultType="com.pig4cloud.pig.casee.dto.AssetsGetByIdDTO">
		select p10_address.*
		from p10_assets
		left join p10_address on p10_address.user_id=p10_assets.assets_id and p10_address.type=4
		where p10_assets.assets_id=#{assetsId}
	</select>

	<select id="getPageDebtorAssets" resultType="com.pig4cloud.pig.casee.vo.AssetsOrProjectPageVO">
		SELECT
		p10_assets.assets_id,
		p10_assets.assets_name,
		p10_assets.assets_type,
		p10_assets.`type`,
		p10_assets.`owner`,
		p10_project.project_id,
		p10_project.company_code,
		p10_project.`status`,
		p10_project.subject_persons,
		p10_assets_re.assets_re_id,
		p10_assets_re.assets_source,
		json_extract( p10_assets_re.assets_re_detail, '$.entityZX_STZX.entityZX_STZX_CCZXCF.entityZX_STZX_CCZXCF_CCZXCF.sealUpCondition' ) AS sealUpCondition,
		json_extract( p10_assets_re.assets_re_detail, '$.fundingZX_ZJZX.fundingZX_ZJZX_ZJZXDJ.fundingZX_ZJZX_ZJZXDJ_ZJZXDJ.whetherFirstFrozen' ) AS whetherFirstFrozen
		FROM
		p10_assets
		INNER JOIN p10_assets_re ON p10_assets_re.assets_id = p10_assets.assets_id and p10_assets.del_flag = 0
		INNER JOIN p10_project ON p10_project.project_id = p10_assets_re.project_id and p10_project.del_flag = 0
	WHERE
		p10_assets.del_flag = 0
		<if test="query.subjectId != null">
			and p10_assets_re.subject_id = #{query.subjectId}
		</if>
	</select>

	<select id="queryById" resultType="com.pig4cloud.pig.casee.vo.AssetsDeailsVO">
		SELECT * FROM p10_assets LEFT JOIN p10_address ON p10_assets.assets_id = p10_address.user_id and p10_address.type = 4  and p10_address.del_flag = 0
		WHERE p10_assets.del_flag = 0 and p10_assets.assets_id = #{assetsId}
	</select>

	<select id="getPageAssetsManage" resultType="com.pig4cloud.pig.casee.vo.AssetsOrProjectPageVO">
		SELECT
		p10_assets.assets_id,
		p10_assets.assets_name,
		p10_assets.assets_type,
		p10_assets.`type`,
		p10_assets.`owner`,
		p10_project.project_id,
		p10_project.company_code,
		p10_project.`status`,
		p10_project.subject_persons,
		p10_assets_re.assets_re_id,
		p10_assets_re.assets_source,
		json_extract( p10_assets_re.assets_re_detail, '$.entityZX_STZX.entityZX_STZX_CCZXCF.entityZX_STZX_CCZXCF_CCZXCF.sealUpCondition' ) AS sealUpCondition,
		json_extract( p10_assets_re.assets_re_detail, '$.fundingZX_ZJZX.fundingZX_ZJZX_ZJZXDJ.fundingZX_ZJZX_ZJZXDJ_ZJZXDJ.whetherFirstFrozen' ) AS whetherFirstFrozen
		FROM
		p10_project
		LEFT JOIN p10_assets_re ON p10_project.project_id = p10_assets_re.project_id and p10_assets_re.del_flag = 0
		LEFT JOIN p10_assets ON p10_assets_re.assets_id = p10_assets.assets_id and p10_assets.del_flag = 0
		WHERE
		p10_assets.del_flag = 0
		<if test="insId != null and insId != 0">
			and p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			and p10_project.outles_id = #{outlesId}
		</if>
		<if test="query.subjectId != null">
			and p10_assets_re.subject_id = #{query.subjectId}
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and p10_project.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
		<if test="query.assetsType != null and query.assetsType != -1">
			and p10_assets.assets_type = #{query.assetsType}
		</if>
		<if test="query.accountNumber != null and query.accountNumber != ''">
			and p10_assets.account_number like concat(#{query.accountNumber}, '%')
		</if>
		<if test="query.debtorName != null and query.debtorName != ''">
			and p10_project.subject_persons like concat('%', #{query.debtorName}, '%')
		</if>
	</select>

	<!--*******************************************************************************-->
	<select id="selectPageByCaseeId" resultType="com.pig4cloud.pig.casee.vo.AssetsPageVO">
		select p10_assets.*,p10_assets_re.assets_source from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		where p10_assets.del_flag = 0
		and p10_assets_re.create_casee_id = #{caseeId}
	</select>

</mapper>
