<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsReLiquiMapper">

	<resultMap id="assetsMap" type="com.pig4cloud.pig.casee.entity.AssetsReLiqui">
		<id property="assetsId" column="assets_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsId" column="assets_id"/>
		<result property="targetId" column="target_id"/>
		<result property="projectId" column="project_id"/>
		<result property="caseeId" column="casee_id"/>
		<result property="subjectId" column="subject_id"/>
		<result property="subjectName" column="subject_name"/>
		<result property="assetsReDetail" column="assets_re_detail"/>
		<result property="remark" column="remark"/>
		<result property="assetsSource" column="assets_source"/>
	</resultMap>

	<select id="getAssetsReCasee" resultType="com.pig4cloud.pig.casee.entity.assets.AssetsReCasee">
		SELECT * FROM p10_assets_re WHERE del_flag = 0
		<if test="query.assetsReId != null and query.assetsReId != 0">
			and assets_re_id = #{query.assetsReId}
		</if>
		<if test="query.assetsId != null and query.assetsId != 0">
			and assets_id = #{query.assetsId}
		</if>
		<if test="query.targetId != null and query.targetId != 0">
			and target_id = #{query.targetId}
		</if>
		<if test="query.projectId != null and query.projectId != 0">
			and project_id = #{query.projectId}
		</if>
		<if test="query.caseeId != null and query.caseeId != 0">
			and casee_id = #{query.caseeId}
		</if>
		<if test="query.createCaseeId != null and query.createCaseeId != 0">
			and create_casee_id = #{query.createCaseeId}
		</if>
		<if test="query.subjectId != null and query.subjectId != 0">
			and subject_id = #{query.subjectId}
		</if>
		<if test="query.subjectName = null and query.subjectName != ''">
			and subject_name like concat('%', #{query.subjectName}, '%')
		</if>
		<if test="query.assetsSource != null and query.assetsSource != 0">
			and assetsSource = #{query.assetsSource}
		</if>
	</select>

	<select id="selectAssetsNotSeizeAndFreeze" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiFlowChartPageVO">
		select
		p10_project.company_code,p10_casee.casee_number,p10_assets_re.*,p10_assets.assets_name,p10_assets.type,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_task_node.node_id
		from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_target on p10_target.goal_id = p10_assets.assets_id and p10_casee.casee_id = p10_target.casee_id
		left join p10_task_node node on node.target_id = p10_target.target_id
		left join p10_task_node on p10_task_node.node_id = node.node_id
		where p10_project.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.`status` = 1000
		and p10_casee.`status` = 1
		and p10_target.goal_type = 20001
		and p10_task_node.node_attributes = 400
		and node.node_key like "%SDQK"
		and node.form_data is not null
		and (p10_task_node.node_key = "entityZX_STZX_CCZXCF_CCZXCF" or p10_task_node.node_key =
		"fundingZX_ZJZX_ZJZXDJ_ZJZXDJ")
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.type!=null and query.type != ''">
			and p10_assets.type = #{query.type}
			<if test="query.type==20100">
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsFreeze' ) is null
			</if>
			<if test="query.type==20200">
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure' ) is null
			</if>
		</if>
		<if test="query.type==null">
			and (json_extract( p10_assets_re.assets_re_detail, '$.assetsFreeze' ) is null
			or json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure' ) is null)
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_assets.owner like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
	</select>

	<select id="selectBusinessTransfer" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiFlowChartPageVO">
		select
		p10_project.company_code,p10_casee.casee_number,p10_assets_re.*,p10_assets.assets_name,p10_assets.type,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_task_node.node_id
		from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_target on p10_target.goal_id = p10_assets.assets_id and p10_casee.casee_id = p10_target.casee_id
		left join p10_task_node node on node.target_id = p10_target.target_id
		left join p10_task_node on p10_task_node.node_id = node.node_id
		where p10_project.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.`status` = 1000
		and p10_assets.type = 20200
		and p10_casee.`status` = 1
		and p10_target.goal_type = 20001
		and p10_casee.casee_type in (3010,3031)
		and node.node_key = "entityZX_STZX_CCZXSQYS_CCZXSQYS"
		and node.form_data is null
		and node.node_attributes = 400
		and json_extract( p10_assets_re.assets_re_detail, '$.mortgagee' ) = 0
		and json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure.sealUpCondition' ) = 1
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_assets.owner like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
	</select>

	<select id="selectFundDeduction" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiFlowChartPageVO">
		select p10_project.company_code,p10_casee.casee_number,p10_assets_re.*,p10_assets.assets_name,p10_assets.type,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_task_node.node_id
		 from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_assets_re.casee_id = p10_target.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_project.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.`status` = 1000
		and p10_assets.type = 20100
		and p10_casee.casee_type in (3010,3031)
		and p10_casee.`status` = 1
		and p10_target.goal_type = 20001
		and json_extract( p10_assets_re.assets_re_detail, '$.assetsFreeze.whetherFirstFrozen' ) = 1
		and json_extract( p10_assets_re.assets_re_detail, '$.assetsSnap' ) is null
		and p10_task_node.node_attributes = 400
		and p10_task_node.node_key = "fundingZX_ZJZX_ZJZXZJHK_ZJZXZJHK"
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_assets.owner like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
	</select>

	<select id="selectPropertyToBeAuctioned" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiFlowChartPageVO">
		select p10_project.company_code,p10_casee.casee_number,p10_assets_re.*,p10_assets.assets_name,p10_assets.type,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_task_node.node_id
		  from p10_casee
		left join (
				select p10_assets_re.* from p10_assets_re
				WHERE p10_assets_re.casee_id is not null
				and json_extract( p10_assets_re.assets_re_detail, '$.mortgagee' ) = 0
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure.sealUpCondition' ) = 0
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsPayment' ) is null
				UNION
				select p10_assets_re.* from p10_assets_re
				left join p10_target on p10_target.goal_id = p10_assets_re.assets_id
				left join p10_task_node on p10_task_node.target_id = p10_target.target_id
				WHERE p10_assets_re.casee_id is not null
				and json_extract( p10_assets_re.assets_re_detail, '$.mortgagee' ) = 0
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure.sealUpCondition' ) = 1
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsPayment' ) is null
				and p10_target.goal_type = 20001
				and p10_task_node.node_key = "entityZX_STZX_CCZXSQYS_CCZXSQYS"
				and json_extract( p10_task_node.form_data, '$.businessPleaseTransfer' ) = 0
				UNION
				select p10_assets_re.* from p10_assets_re
				WHERE p10_assets_re.casee_id is not null
				and json_extract( p10_assets_re.assets_re_detail, '$.mortgagee' ) = 2
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure.sealUpCondition' ) = 0
				and json_extract( p10_assets_re.assets_re_detail, '$.assetsPayment' ) is null
				) p10_assets_re on p10_assets_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_target.casee_id = p10_casee.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_project.del_flag = 0
		and p10_project.`status` = 1000
		and p10_assets_re.assets_re_id is not null
		and p10_target.goal_type = 20001
		and p10_task_node.node_key = "entityZX_STZX_CCZXZCCZYJ_CCZXZCCZYJ"
		and p10_task_node.form_data is null
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_assets.owner like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
	</select>

	<select id="selectPropertyFlowChartPage" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiFlowChartPageVO">
		select p10_project.company_code,p10_casee.casee_number,p10_assets_re.*,p10_assets.assets_name,p10_assets.type,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_task_node.node_id
		from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_assets_re.casee_id = p10_target.casee_id
		left join (select * from (
				select p10_task_node.target_id,p10_task_node.node_key,p10_task_node.node_id from p10_task_node
				where p10_task_node.`status` = 0
				and p10_task_node.node_attributes = 400
				ORDER BY p10_task_node.sort asc
				)task_node
				GROUP BY task_node.target_id
				) p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_project.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.`status` = 1000
		and p10_assets.type = 20200
		and p10_casee.casee_type in (3010,3031)
		and p10_casee.`status` = 1
		and p10_target.goal_type = 20001
		<if test="query.nodeKey != null and query.nodeKey != ''">
			and p10_task_node.node_key = #{query.nodeKey}
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_assets.owner like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
		<if test="query.assetsTypeList!=null and query.assetsTypeList.size()>0">
			and p10_assets.assets_type in
			<foreach item="item" index="index" collection="query.assetsTypeList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<select id="queryComparePropertyNumbersCount" resultType="java.lang.Long">
		SELECT
		(sum( YEAR ( p10_assets_re.create_time )= YEAR (NOW())) - sum( ( YEAR ( p10_assets_re.create_time )= YEAR (
		NOW())- 1 ) ) )
		FROM
		p10_assets_re
		LEFT JOIN p10_project ON p10_assets_re.project_id = p10_project.project_id AND p10_assets_re.del_flag = 0
		LEFT JOIN p10_assets ON p10_assets_re.assets_id = p10_assets.assets_id AND p10_assets.del_flag = 0
		WHERE
		p10_project.del_flag = 0
		AND (YEAR ( p10_assets_re.create_time )= YEAR (NOW()) OR YEAR ( p10_assets_re.create_time )= YEAR (NOW()) - 1 )
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
	</select>

	<select id="queryPropertyCategoryTotalList" resultType="com.pig4cloud.pig.casee.vo.PropertyCategoryTotalVO">
		SELECT
			p10_assets.type, count(0) AS numberOfProperties
		FROM
			p10_assets_re
		LEFT JOIN p10_project ON p10_project.project_id = p10_assets_re.project_id and p10_assets_re.del_flag = 0
		LEFT JOIN p10_assets ON p10_assets_re.assets_id = p10_assets.assets_id and p10_assets.del_flag = 0
		WHERE p10_project.del_flag = 0
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
		GROUP BY
		p10_assets.type
	</select>

	<select id="queryTotalProperty" resultType="java.lang.Long">
		SELECT
			count(0)
		FROM
			p10_assets_re
		LEFT JOIN p10_project ON p10_project.project_id = p10_assets_re.project_id and p10_assets_re.del_flag = 0
		LEFT JOIN p10_assets ON p10_assets_re.assets_id = p10_assets.assets_id and p10_assets.del_flag = 0
		WHERE p10_project.del_flag = 0
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
	</select>

	<select id="selectPropertyAuctionAnnouncementPeriod" resultType="com.pig4cloud.pig.casee.vo.AssetsReLiquiFlowChartPageVO">
		select p10_project.company_code,p10_casee.casee_number,p10_assets_re.*,p10_assets.assets_name,p10_assets.type,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_task_node.node_id,substring(json_extract( p10_assets_re.assets_re_detail, '$.auctionStartDate' ),2,10) as auctionStartDate
		from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_assets_re.casee_id = p10_target.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_project.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.`status` = 1000
		and p10_assets.type = 20200
		and p10_casee.casee_type in (3010,3031)
		and p10_casee.`status` = 1
		and p10_task_node.node_attributes = 400
		and p10_task_node.node_key = "entityZX_STZX_CCZXPMGG_CCZXPMGG"
		and substring(json_extract( p10_assets_re.assets_re_detail, '$.auctionStartDate' ),2,10) &lt; DATE_FORMAT(now(), '%Y-%m-%d')
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_assets.owner like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			and p10_assets.assets_name like concat('%', #{query.assetsName}, '%')
		</if>
	</select>

	<resultMap id="assetsReDetails" type="com.pig4cloud.pig.casee.vo.AssetsReLiquiDetailsVO" extends="assetsMap">
		<collection property="projectLiqui" ofType="com.pig4cloud.pig.casee.entity.liquientity.ProjectLiqui"
					column="project_id"
					select="com.pig4cloud.pig.casee.mapper.ProjectLiquiMapper.selectProjectDetails"></collection>
		<collection property="caseeLiqui" ofType="com.pig4cloud.pig.casee.vo.CaseeLiquiPageVO"
					column="casee_id"
					select="com.pig4cloud.pig.casee.mapper.CaseeLiquiMapper.selectCaseeDetails"></collection>
		<collection property="assets" ofType="com.pig4cloud.pig.casee.vo.AssetsDeailsVO"
					column="assets_id"
					select="com.pig4cloud.pig.casee.mapper.AssetsMapper.queryById"></collection>
	</resultMap>

	<select id="selectAssetsReDetails" resultMap="assetsReDetails">
		select * from p10_assets_re
		where del_flag = 0
		and assets_re_id = #{assetsReId}
	</select>
</mapper>
