<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsRePaifuMapper">

	<resultMap id="assetsReMap" type="com.pig4cloud.pig.casee.entity.paifuentity.AssetsRePaifu">
		<id property="assetsReId" column="assets_re_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsId" column="assets_id"/>
		<result property="projectId" column="project_id"/>
		<result property="caseeId" column="casee_id"/>
		<result property="subjectName" column="subject_name"/>
		<result property="assetsReDetail" column="assets_re_detail"/>
		<result property="remark" column="remark"/>
		<result property="assetsSource" column="assets_source"/>
		<result property="mortgageAssetsRecordsId" column="mortgage_assets_records_id"/>
	</resultMap>

	<resultMap id="assetsMap" type="com.pig4cloud.pig.casee.entity.Assets">
		<id property="assetsId" column="assets_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsName" column="assets_name"/>
		<result property="type" column="type"/>
		<result property="assetsType" column="assets_type"/>
		<result property="assetsDetail" column="assets_detail"/>
		<result property="describes" column="describes"/>
		<result property="accountNumber" column="account_number"/>
	</resultMap>

	<resultMap id="assetsPaifuVOMap" type="com.pig4cloud.pig.casee.vo.AssetsPaifuVO" extends="assetsMap">
		<result property="assetsReDetail" column="assets_re_detail"/>
		<result property="subjectId" column="subject_id"></result>
	</resultMap>

	<resultMap id="assetsList" type="com.pig4cloud.pig.casee.vo.paifu.AssetsRePageVO" extends="assetsReMap">
		<collection property="assets" ofType="com.pig4cloud.pig.casee.vo.AssetsDeailsVO"
					column="assets_id"
					select="com.pig4cloud.pig.casee.mapper.AssetsMapper.queryById"></collection>
	</resultMap>

	<select id="queryAssetsRePageByProjectId" resultMap="assetsList">
		select * from p10_assets_re
		where p10_assets_re.del_flag = 0
		and p10_assets_re.casee_id is not null
		<if test="query.projectId != null and query.projectId != 0">
			AND p10_assets_re.project_id = #{query.projectId}
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			AND p10_assets.assets_name like concat('%',#{query.assetsName},'%')
		</if>
		<if test="query.owner != null and query.owner != ''">
			AND p10_assets.owner like concat('%',#{query.owner},'%')
		</if>
		<if test="query.accountNumber != null and query.accountNumber != ''">
			AND p10_assets.account_number like concat('%',#{query.accountNumber},'%')
		</if>
		<if test="query.beginDate != null and query.endDate != null">
			AND json_extract( p10_assets_re.assets_re_detail,
			'$.AssetsSeizure.seizureExpiryDate' ) BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="queryAssetsPaifuById" resultMap="assetsPaifuVOMap">
		SELECT p10_assets.*,
		p10_assets_re.assets_re_detail,
		p10_assets_re.assets_re_id
		FROM `p10_assets_re`
		LEFT JOIN p10_assets ON p10_assets_re.assets_id = p10_assets.assets_id AND p10_assets.del_flag = 0
		WHERE p10_assets_re.del_flag = 0
		<if test="projectId != null and projectId != 0">
			AND p10_assets_re.project_id = #{projectId}
		</if>
		<if test="caseeId != null and caseeId != 0">
			AND p10_assets_re.casee_id = #{caseeId}
		</if>
		<if test="assetsId != null and assetsId != 0">
			AND p10_assets_re.assets_id = #{assetsId}
		</if>
	</select>

</mapper>