<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsBankLoanReMapper">

  <resultMap id="assetsBankLoanReMap" type="com.pig4cloud.pig.casee.entity.AssetsBankLoanRe">
    <id property="assetsBankLoanId" column="assets_bank_loan_id"/>
    <result property="bankLoanId" column="bank_loan_id"/>
    <result property="assetsId" column="assets_id"/>
    <result property="subjectId" column="subject_id"/>
    <result property="mortgageAmount" column="mortgage_amount"/>
    <result property="mortgageTime" column="mortgage_time"/>
  </resultMap>

	<select id="getAssetsBankLoanRe" resultType="com.pig4cloud.pig.casee.vo.AssetsInformationVO">
	SELECT p10_assets_bank_loan_re.assets_bank_loan_id, p10_assets_bank_loan_re.mortgage_amount,p10_assets_bank_loan_re.mortgage_time,p10_assets_bank_loan_re.subject_id,p10_assets.*,p10_address.*,p10_address.address_id as addressAsId
	FROM `p10_assets_bank_loan_re`
	LEFT JOIN p10_assets ON p10_assets.assets_id = p10_assets_bank_loan_re.assets_id
	LEFT JOIN p10_address ON p10_address.user_id = p10_assets.assets_id and p10_address.type=4
	WHERE
	p10_assets_bank_loan_re.bank_loan_id = #{bankLoanId} and p10_assets_bank_loan_re.del_flag=0
	</select>

	<select id="countAssetsBankLoanReById" resultType="java.lang.Integer">
		SELECT count(0) FROM p10_assets_bank_loan_re WHERE del_flag = 0 and  bank_loan_id = #{bankLoanId}
	</select>

</mapper>
