<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsReSubjectMapper">

  <resultMap id="assetsReSubjectMap" type="com.pig4cloud.pig.casee.entity.AssetsReSubject">
    <id property="assetsReSubjectId" column="assets_re_subject_id"/>
    <result property="assetsReId" column="assets_re_id"/>
    <result property="subjectId" column="subject_id"/>
  </resultMap>

	<select id="selectByAssetsReIdSubjectList" resultType="com.pig4cloud.pig.admin.api.entity.Subject">
		select p10_subject.* from p10_assets_re_subject
		left join p10_subject on p10_subject.subject_id = p10_assets_re_subject.subject_id
		where p10_assets_re_subject.assets_re_id = #{assetsReId}
	</select>
</mapper>
