<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsMapper">

	<resultMap id="assetsMap" type="com.pig4cloud.pig.casee.entity.Assets">
		<id property="assetsId" column="assets_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsName" column="assets_name"/>
		<result property="type" column="type"/>
		<result property="assetsType" column="assets_type"/>
		<result property="assetsDetail" column="assets_detail"/>
		<result property="describes" column="describes"/>
	</resultMap>

	<select id="getByAssets" resultType="com.pig4cloud.pig.casee.dto.AssetsGetByIdDTO">
		select p10_address.*
		from p10_assets
		left join p10_address on p10_address.user_id=p10_assets.assets_id and p10_address.type=4
		where p10_assets.assets_id=#{assetsId}
	</select>

	<select id="queryPageAssetsOrProject" resultType="com.pig4cloud.pig.casee.vo.AssetsOrProjectPageVO">

	</select>
</mapper>
