<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AssetsRePaifuMapper">

	<resultMap id="assetsReMap" type="com.pig4cloud.pig.casee.entity.paifuentity.AssetsRePaifu">
		<id property="assetsReId" column="assets_re_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsId" column="assets_id"/>
		<result property="projectId" column="project_id"/>
		<result property="caseeId" column="casee_id"/>
		<result property="subjectName" column="subject_name"/>
		<result property="assetsReDetail" column="assets_re_detail"/>
		<result property="remark" column="remark"/>
		<result property="assetsSource" column="assets_source"/>
		<result property="mortgageAssetsRecordsId" column="mortgage_assets_records_id"/>
	</resultMap>

	<resultMap id="assetsMap" type="com.pig4cloud.pig.casee.entity.Assets">
		<id property="assetsId" column="assets_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="assetsName" column="assets_name"/>
		<result property="type" column="type"/>
		<result property="assetsType" column="assets_type"/>
		<result property="assetsDetail" column="assets_detail"/>
		<result property="describes" column="describes"/>
		<result property="accountNumber" column="account_number"/>
	</resultMap>

	<resultMap id="assetsPaifuVOMap" type="com.pig4cloud.pig.casee.vo.AssetsPaifuVO" extends="assetsMap">
		<result property="assetsReDetail" column="assets_re_detail"/>
		<result property="subjectId" column="subject_id"></result>
	</resultMap>

	<resultMap id="assetsList" type="com.pig4cloud.pig.casee.vo.paifu.AssetsRePageVO" extends="assetsReMap">
		<collection property="assets" ofType="com.pig4cloud.pig.casee.vo.AssetsDeailsVO"
					column="assets_id"
					select="com.pig4cloud.pig.casee.mapper.AssetsMapper.queryById"></collection>
	</resultMap>

	<select id="queryAssetsRePageByProjectId" resultMap="assetsList">
		select * from p10_assets_re
		where p10_assets_re.del_flag = 0
		and p10_assets_re.casee_id is not null
		<if test="query.projectId != null and query.projectId != 0">
			AND p10_assets_re.project_id = #{query.projectId}
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			AND p10_assets.assets_name like concat('%',#{query.assetsName},'%')
		</if>
		<if test="query.owner != null and query.owner != ''">
			AND p10_assets.owner like concat('%',#{query.owner},'%')
		</if>
		<if test="query.accountNumber != null and query.accountNumber != ''">
			AND p10_assets.account_number like concat('%',#{query.accountNumber},'%')
		</if>
		<if test="query.beginDate != null and query.endDate != null">
			AND json_extract( p10_assets_re.assets_re_detail,
			'$.AssetsSeizure.seizureExpiryDate' ) BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<resultMap id="getAssets" type="com.pig4cloud.pig.casee.vo.paifu.AssetsRePaifuDetailVO" extends="assetsReMap">
		<collection property="subjectIdList" ofType="java.lang.Integer"
					column="assets_re_id"
					select="com.pig4cloud.pig.casee.mapper.AssetsReSubjectMapper.selectByAssetsReId"></collection>
		<collection property="subjectList" ofType="com.pig4cloud.pig.admin.api.entity.Subject"
					column="assets_re_id"
					select="com.pig4cloud.pig.casee.mapper.AssetsReSubjectMapper.selectByAssetsReIdSubjectList"></collection>
	</resultMap>

	<select id="selectByAssetsReId" resultMap="getAssets">
		select p10_assets_re.*,p10_assets.assets_name,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_address.province,p10_address.city,p10_address.area,p10_address.information_address,p10_address.`code`,p10_address.address_id
		from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_address on p10_address.user_id = p10_assets.assets_id and p10_address.type = 4
		where p10_assets_re.del_flag = 0
		and p10_assets_re.assets_re_id = #{assetsReId}
	</select>

	<select id="queryAeetsDetail" resultType="com.pig4cloud.pig.casee.vo.paifu.AssetsRePaifuDetailVO">
		select p10_assets_re.*,p10_assets.assets_name,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_address.province,p10_address.city,p10_address.area,p10_address.information_address,p10_address.`code`,p10_address.address_id
		from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_address on p10_address.user_id = p10_assets.assets_id and p10_address.type = 4
		where p10_assets_re.del_flag = 0
		and p10_assets_re.assets_re_id = #{assetsReId}
	</select>

	<select id="queryTargetPage" resultType="com.pig4cloud.pig.casee.vo.paifu.AssetsReTargetPageVO">
		select * from p10_assets_re
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_address on p10_address.user_id = p10_assets.assets_id and p10_address.type = 4
		where p10_assets_re.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.project_type = 200
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != 0">
			AND (p10_project.company_code like concat('%',#{query.caseeNumber},'%')
				or p10_casee.casee_number like concat('%',#{query.caseeNumber},'%'))
		</if>
		<if test="query.assetsName != null and query.assetsName != ''">
			AND p10_assets.assets_name like concat('%',#{query.assetsName},'%')
		</if>
		<if test="query.owner != null and query.owner != ''">
			AND p10_assets.owner like concat('%',#{query.owner},'%')
		</if>
		<if test="query.accountNumber != null and query.accountNumber != ''">
			AND p10_assets.account_number like concat('%',#{query.accountNumber},'%')
		</if>
		<if test="query.beginDate != null and query.endDate != null">
			AND json_extract( p10_assets_re.assets_re_detail,
			'$.AssetsSeizure.seizureExpiryDate' ) BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectByProjectId" resultType="com.pig4cloud.pig.casee.vo.paifu.AssetsRePaifuDetailVO">
		select * from p10_assets_re
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		where p10_assets_re.project_id = #{projectId}
		<if test="assetsName != null and assetsName != ''">
			AND p10_assets.assets_name like concat('%',#{assetsName},'%')
		</if>
	</select>

	<select id="selectPostAnAuctionList" resultType="com.pig4cloud.pig.casee.vo.paifu.AssetsRePaifuDetailVO">
		SELECT p10_assets_re.*,p10_assets.assets_name,p10_assets.assets_type,p10_assets.`owner`,p10_assets.account_number,p10_address.province,p10_address.city,p10_address.area,p10_address.information_address,p10_address.`code`,p10_address.address_id,p10_auction_assets_re.auction_id
		FROM
			( SELECT DISTINCT p10_assets_re.*  FROM
				( SELECT p10_assets_re.*  FROM p10_auction_assets_re
					LEFT JOIN ( SELECT p10_auction_assets_re.auction_id  FROM p10_assets_re
									LEFT JOIN p10_auction_assets_re ON p10_auction_assets_re.assets_re_id = p10_assets_re.assets_re_id
								WHERE p10_assets_re.project_id = #{projectId}  AND p10_assets_re.casee_id = #{caseeId}  AND p10_assets_re.assets_id = #{assetsId}
								) p10_auction ON p10_auction.auction_id = p10_auction_assets_re.auction_id
					LEFT JOIN p10_assets_re ON p10_assets_re.assets_re_id = p10_auction_assets_re.assets_re_id
				WHERE p10_auction.auction_id IS NOT NULL
				UNION ALL
				SELECT * FROM p10_assets_re  WHERE p10_assets_re.project_id = #{projectId} AND p10_assets_re.`status` = 100
				) p10_assets_re
			) p10_assets_re
		LEFT JOIN p10_auction_assets_re ON p10_auction_assets_re.assets_re_id = p10_assets_re.assets_re_id
		left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
		left join p10_address on p10_address.user_id = p10_assets.assets_id and p10_address.type = 4
	</select>
	
	<resultMap id="getProjectCaseeMap" type="com.pig4cloud.pig.casee.vo.paifu.AssetsRePaifuDetailsVO" extends="assetsReMap">
		<result property="assetsTargetId" column="assetsTargetId"/>
		<collection property="projectPaifu" ofType="com.pig4cloud.pig.casee.entity.paifuentity.ProjectPaifu"
					column="project_id"
					select="com.pig4cloud.pig.casee.mapper.ProjectPaifuMapper.getByPorjectId"></collection>
		<collection property="casee" ofType="com.pig4cloud.pig.casee.entity.Casee"
					column="casee_id"
					select="com.pig4cloud.pig.casee.mapper.CaseeMapper.selectById"></collection>
		<collection property="assets" ofType="com.pig4cloud.pig.casee.vo.AssetsDeailsVO"
					column="assets_id"
					select="com.pig4cloud.pig.casee.mapper.AssetsMapper.queryById"></collection>
	</resultMap>
	
	<select id="queryAssetsReProjectCasee" resultMap="getProjectCaseeMap">
		select p10_assets_re.*,p10_target.target_id as assetsTargetId from p10_assets_re
		left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_assets_re.casee_id = p10_target.casee_id and p10_assets_re.project_id = p10_target.project_id and p10_target.goal_type = 20001
		where p10_assets_re.del_flag = 0
		and p10_assets_re.assets_re_id = #{assetsReId}
	</select>

</mapper>