<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.AuctionRecordMapper">

  <resultMap id="auctionRecordMap" type="com.pig4cloud.pig.casee.entity.AuctionRecord">
    <id property="auctionRecordId" column="auction_record_id"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="auctionId" column="auction_id"/>
    <result property="auctionTitle" column="auction_title"/>
    <result property="auctionType" column="auction_type"/>
    <result property="auctionStatus" column="auction_status"/>
    <result property="auctionAnnouncement" column="auction_announcement"/>
    <result property="announcementStartTime" column="announcement_start_time"/>
    <result property="auctionStartTime" column="auction_start_time"/>
    <result property="auctionEndTime" column="auction_end_time"/>
    <result property="startingPrice" column="starting_price"/>
    <result property="auctionPlatform" column="auction_platform"/>
    <result property="auctionLink" column="auction_link"/>
    <result property="appendix" column="appendix"/>
    <result property="remark" column="remark"/>
  </resultMap>

	<select id="getLastAuctionRecord" resultMap="auctionRecordMap">
		select p10_auction_record.* from p10_auction
		left join p10_auction_assets_re on p10_auction_assets_re.auction_id = p10_auction.auction_id
		left join p10_assets_re on p10_assets_re.assets_re_id = p10_auction_assets_re.assets_re_id
		left join p10_auction_record on p10_auction_record.auction_id = p10_auction.auction_id
		where p10_assets_re.project_id = #{projectId}
		and p10_assets_re.casee_id = #{caseeId}
		and p10_assets_re.assets_id = #{assetsId}
		ORDER BY p10_auction_record.announcement_start_time desc
		limit 1
	</select>
</mapper>
