<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.BankLoanMapper">

  <resultMap id="bankLoanMap" type="com.pig4cloud.pig.casee.entity.BankLoan">
    <id property="bankLoanId" column="bank_loan_id"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="delFlag" column="del_flag"/>
    <result property="insId" column="ins_id"/>
    <result property="outlesId" column="outles_id"/>
    <result property="principal" column="principal"/>
    <result property="interest" column="interest"/>
    <result property="rental" column="rental"/>
    <result property="mortgageSituation" column="mortgage_situation"/>
    <result property="loanContract" column="loan_contract"/>
    <result property="otherFile" column="other_file"/>
	<result property="transferDate" column="transfer_date"/>
	<result property="debtType" column="debt_type"/>
  </resultMap>

	<resultMap id="bankLoanMapVO" type="com.pig4cloud.pig.casee.vo.BankLoanVO">
		<id property="bankLoanId" column="bank_loan_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="insId" column="ins_id"/>
		<result property="outlesId" column="outles_id"/>
		<result property="principal" column="principal"/>
		<result property="interest" column="interest"/>
		<result property="rental" column="rental"/>
		<result property="mortgageSituation" column="mortgage_situation"/>
		<result property="loanContract" column="loan_contract"/>
		<result property="otherFile" column="other_file"/>
		<result property="debtType" column="debt_type"/>
		<result property="transferDate" column="transfer_date"/>
		<collection property="subjectNameList" ofType="java.lang.Integer"
					select="com.pig4cloud.pig.casee.mapper.SubjectBankLoanReMapper.getSubjectBankLoanRe" column="bank_loan_id">
		</collection>
	</resultMap>

	<select id="bankLoanPage" resultMap="bankLoanMapVO">
		select
		*,
		p10_institution.ins_name as entrustedInsName,
		p10_outles.outles_name as entrustedOutlesName,
		p10_transfer_record.litigation,
		p10_transfer_record.handover_amount as handoverAmount,
		p10_transfer_record.handover_time as handoverTime,
		p10_transfer_record.status
		from p10_bank_loan
		left join p10_assets_bank_loan_re on p10_assets_bank_loan_re.bank_loan_id=p10_bank_loan.bank_loan_id
		left join p10_transfer_record on p10_transfer_record.bank_loan_id=p10_bank_loan.bank_loan_id
		left join p10_institution on p10_institution.ins_id=p10_transfer_record.entrusted_ins_id
		left join p10_outles on p10_outles.outles_id=p10_transfer_record.entrusted_outles_id
		where
		p10_bank_loan.del_flag=0
		<if test="query.trustee != null">
			and  p10_institution.ins_name like concat('%', #{query.trustee}, '%')
			or p10_outles.outles_name like concat('%', #{query.trustee}, '%')
		</if>
		<if test="query.handoverTime != null">
			and p10_transfer_record.handover_time=#{query.handoverTime}
		</if>
	</select>
</mapper>
