<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.BankLoanMapper">

  <resultMap id="bankLoanMap" type="com.pig4cloud.pig.casee.entity.BankLoan">
    <id property="bankLoanId" column="bank_loan_id"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="delFlag" column="del_flag"/>
    <result property="insId" column="ins_id"/>
    <result property="outlesId" column="outles_id"/>
    <result property="principal" column="principal"/>
	<result property="interest" column="interest"/>
	<result property="calculation" column="calculation"/>
    <result property="rental" column="rental"/>
    <result property="mortgageSituation" column="mortgage_situation"/>
    <result property="loanContract" column="loan_contract"/>
    <result property="otherFile" column="other_file"/>
	<result property="transferDate" column="transfer_date"/>
	<result property="remark" column="remark"/>
  </resultMap>

	<resultMap id="bankLoanMapVO" type="com.pig4cloud.pig.casee.vo.BankLoanVO" extends="bankLoanMap">
		<collection property="countSubjectBankLoanRe" ofType="java.lang.Integer"
					select="com.pig4cloud.pig.casee.mapper.SubjectBankLoanReMapper.countSubjectBankLoanReById" column="bank_loan_id"></collection>
		<collection property="countMortgageAssetsRecords" ofType="java.lang.Integer"
					select="com.pig4cloud.pig.casee.mapper.MortgageAssetsRecordsMapper.countMortgageAssetsRecords" column="bank_loan_id"></collection>
	</resultMap>

	<resultMap id="BankLoanInformationVO" type="com.pig4cloud.pig.casee.vo.BankLoanInformationVO" extends="bankLoanMap">
		<collection property="subjectInformationVOList" ofType="com.pig4cloud.pig.casee.vo.SubjectInformationVO"
					select="com.pig4cloud.pig.casee.mapper.SubjectBankLoanReMapper.getSubjectBankLoanReInformationVO" column="bank_loan_id">
		</collection>
		<collection property="assetsInformationVOList" ofType="com.pig4cloud.pig.casee.vo.AssetsInformationVO"
					select="com.pig4cloud.pig.casee.mapper.MortgageAssetsRecordsMapper.getMortgageAssetsRecordsDetails" column="bank_loan_id">
		</collection>
	</resultMap>

	<select id="bankLoanPage" resultMap="bankLoanMapVO">
		SELECT
		p10_bank_loan.*,
		p10_institution.ins_name AS entrustedInsName,
		p10_outles.outles_name AS entrustedOutlesName,
		IF
		( ISNULL( p10_project.STATUS ), p10_transfer_record.`status`, p10_project.STATUS ) AS STATUS
		FROM
		p10_bank_loan
		LEFT JOIN (
		SELECT
		t.transfer_record_id,
		t.`status`,
		t.source_id,
		t.project_id
		FROM
		( SELECT * FROM p10_transfer_record WHERE del_flag = 0 AND transfer_type = 0 ORDER BY transfer_record_id DESC LIMIT 10000 ) t
		GROUP BY
		t.source_id
		) p10_transfer_record ON p10_transfer_record.source_id = p10_bank_loan.bank_loan_id
		LEFT JOIN p10_institution ON p10_institution.ins_id = p10_bank_loan.ins_id
		LEFT JOIN p10_outles ON p10_outles.outles_id = p10_bank_loan.outles_id
		LEFT JOIN p10_project ON p10_project.project_id = p10_transfer_record.project_id
		WHERE
		p10_bank_loan.del_flag = 0
		<if test="login.insId != null and login.insId > 0">
			and p10_bank_loan.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_bank_loan.outles_id = #{login.outlesId}
		</if>
		<if test="query.trustee != null and query.trustee != ''" >
			and  p10_institution.ins_name like concat('%', #{query.trustee}, '%')
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and  p10_bank_loan.subject_name like concat('%', #{query.subjectName}, '%')
		</if>
		<if test="query.transferDate != null">
			and  p10_bank_loan.transfer_date = #{query.transferDate}
		</if>
		<if test="query.status != -1 and query.status &lt; 1000">
			and  p10_transfer_record.status = #{query.status}
		</if>
		<if test="query.status != -1 and query.status &gt;= 1000">
			and  p10_project.status = #{query.status}
		</if>
		ORDER BY p10_bank_loan.create_time desc
	</select>

	<select id="getByBankLoanInformation" resultMap="BankLoanInformationVO">
		select
		*,
		p10_institution.ins_name as entrustedInsName,
		p10_outles.outles_name as entrustedOutlesName,
		p10_transfer_record.status,
		p10_transfer_record.handover_time as handoverTime
		from p10_bank_loan
		left join p10_institution on p10_institution.ins_id=p10_bank_loan.ins_id
		left join p10_outles on p10_outles.outles_id=p10_bank_loan.outles_id
		left join p10_transfer_record ON p10_transfer_record.source_id = p10_bank_loan.bank_loan_id and transfer_type=0
		where
		p10_bank_loan.del_flag=0 AND p10_bank_loan.bank_loan_id=#{bankLoanId}
		ORDER BY
		p10_transfer_record.create_time desc
		LIMIT 1
	</select>
</mapper>
