<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.BehaviorMapper">

	<resultMap id="behaviorMap" type="com.pig4cloud.pig.casee.entity.Behavior">
		<id property="behaviorId" column="behavior_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="projectId" column="project_id"/>
		<result property="subjectId" column="subject_id"/>
		<result property="caseeId" column="casee_id"/>
		<result property="type" column="type"/>
		<result property="behaviorDate" column="behavior_date"/>
		<result property="limitType" column="limit_type"/>
		<result property="behaviorDetail" column="behavior_detail"/>
		<result property="behaviorStatus" column="behavior_status"/>
		<result property="remark" column="remark"/>
	</resultMap>

	<select id="getBehaviorByProjectId" resultType="com.pig4cloud.pig.casee.vo.BehaviorOrCaseeVO">
		SELECT p10_behavior.*,p10_casee.casee_number FROM p10_behavior LEFT JOIN p10_casee ON p10_behavior.casee_id = p10_casee.casee_id and p10_casee.del_flag = 0
		WHERE p10_behavior.del_flag = 0 and p10_behavior.project_id = #{projectId}
	</select>

	<select id="queryPageBehaviorOrProject" resultType="com.pig4cloud.pig.casee.vo.BehaviorOrProjectPageVO">
		SELECT
		p10_behavior.*,
		p10_project.project_id,
		p10_project.company_code,
		p10_project.status,
		p10_project.subject_persons,
		p10_casee.casee_number,
		p10_casee.casee_id
		FROM
		p10_behavior
		LEFT JOIN p10_casee ON p10_behavior.casee_id = p10_casee.casee_id and p10_casee.del_flag = 0
		LEFT JOIN p10_project ON p10_behavior.project_id = p10_project.project_id and p10_project.del_flag = 0
		WHERE p10_behavior.del_flag = 0
		AND p10_behavior.subject_id = #{subjectId}
		<if test="insId != null and insId != 0">
			and p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			and p10_project.outles_id = #{outlesId}
		</if>
	</select>

	<select id="queryById" resultType="com.pig4cloud.pig.casee.vo.BehaviorOrProjectOrCasee">
		SELECT p10_behavior.*,p10_project.project_id,p10_project.company_code,p10_project.project_detail,p10_casee.casee_number FROM p10_behavior
		LEFT JOIN p10_casee ON p10_behavior.casee_id = p10_casee.casee_id and p10_casee.del_flag = 0
		LEFT JOIN p10_project ON p10_behavior.project_id = p10_project.project_id and p10_project.del_flag = 0
		WHERE p10_behavior.del_flag = 0
		AND p10_behavior.behavior_id = #{behaviorId}
	</select>

	<select id="selectBySubjectId" resultType="com.pig4cloud.pig.casee.entity.Behavior">
		select * from p10_behavior
		where p10_behavior.del_flag = 0
		<if test="projectId!=null and projectId!=''">
			and project_id = #{projectId}
		</if>
		<if test="caseeId!=null and caseeId!=''">
			and casee_id = #{caseeId}
		</if>
		<if test="subjectId!=null and subjectId!=''">
			and subject_id = #{subjectId}
			and casee_id is not null
		</if>
	</select>

	<select id="queryPageByCaseeId" resultType="com.pig4cloud.pig.casee.vo.BehaviorOrProjectPageVO">
		select p10_behavior.*,p10_subject.name as subjectPersons from p10_behavior
		left join p10_subject on p10_subject.subject_id = p10_behavior.subject_id
		where p10_behavior.del_flag = 0
		and p10_behavior.casee_id = #{caseeId}
	</select>

	<select id="getBehaviorLiqui" resultType="com.pig4cloud.pig.casee.entity.liquientity.BehaviorLiqui">
		SELECT * FROM p10_behavior WHERE del_flag = 0
		<if test="query.behaviorId != null and query.behaviorId != 0">
			and behavior_id = #{query.behaviorId}
		</if>
		<if test="query.projectId != null and query.projectId != 0">
			and project_id = #{query.projectId}
		</if>
		<if test="query.caseeId != null and query.caseeId != 0">
			and casee_id = #{query.caseeId}
		</if>
		<if test="query.subjectId != null and query.subjectId != 0">
			and subject_id = #{query.subjectId}
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and executed_namelike like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.type != null and query.type != -1">
			and 'type' = #{query.type}
		</if>
		<if test="query.limitType != null and query.limitType != 0">
			and limit_type = #{query.limitType}
		</if>
		<if test="query.behaviorStatus != null and query.behaviorStatus != 0">
			and behavior_status = #{query.behaviorStatus}
		</if>
	</select>

</mapper>
