<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.CaseeLiquiMapper">

	<resultMap id="caseeMap" type="com.pig4cloud.pig.casee.entity.liquientity.CaseeLiqui">
		<id property="caseeId" column="casee_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="caseeNumber" column="casee_number"/>
		<result property="caseeType" column="casee_type"/>
		<result property="status" column="status"/>
		<result property="startTime" column="start_time"/>
		<result property="closeTime" column="close_time"/>
		<result property="remark" column="remark"/>
		<result property="judicialExpenses" column="judicial_expenses"/>
		<result property="parentId" column="parent_id"/>
		<result property="category" column="category"/>
		<result property="courtId" column="court_id"/>
		<result property="judgeOutlesId" column="judge_outles_id"/>
		<result property="judgeId" column="judge_id"/>
		<result property="judgeName" column="judge_name"/>
		<result property="caseeAmount" column="casee_amount"/>
		<result property="executedName" column="executed_name"/>
		<result property="applicantName" column="applicant_name"/>
		<result property="caseeDetail" column="casee_detail"/>
	</resultMap>

	<select id="selectByIdList" resultType="com.pig4cloud.pig.casee.vo.CaseeListVO">
		select p10_casee.*,p10_court.court_name as courtName,p10_casee_lawyer_re.actual_name as
		lawyerName,p10_project_casee_re.actual_name as actualName from p10_casee
		left join p10_court on p10_court.court_id = p10_casee.court_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		where p10_casee.del_flag = 0
		<if test="projectId!=null and projectId!=''">
			and p10_project_casee_re.project_id = #{projectId}
		</if>
		<if test="caseeType!=null and caseeType.size()>0">
			and p10_casee.casee_type in
			<foreach item="item" index="index" collection="caseeType"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		order by p10_casee.casee_type,p10_casee.category,p10_casee.start_time
	</select>

	<select id="getCaseeParentId" resultType="com.pig4cloud.pig.casee.entity.liquientity.CaseeLiqui">
		select * from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		where p10_casee.del_flag = 0
		and p10_casee.casee_type = #{caseeType}
		and p10_project_casee_re.project_id = #{projectId}
		order by p10_casee.start_time desc
		LIMIT 1
	</select>

	<select id="selectByStatusList" resultType="com.pig4cloud.pig.casee.entity.liquientity.CaseeLiqui">
		select p10_casee.* from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		where p10_casee.del_flag = 0
		<if test="projectId!=null and projectId!=''">
			and p10_project_casee_re.project_id = #{projectId}
		</if>
		<if test="statusList.size>0">
			and p10_casee.status in
			<foreach item="item" index="index" collection="statusList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		LIMIT 1
	</select>

	<select id="selectPage" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiPageVO">
		select p10_project.company_code,p10_project.project_id,p10_casee.*,p10_casee_lawyer_re.actual_name as
		lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_casee.del_flag = 0
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="queryByCaseeId" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiDetailsVO">
		select p10_project.project_id,p10_project.company_code,p10_casee.*,p10_casee_lawyer_re.actual_name as lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_casee.del_flag = 0
		and p10_casee.casee_id = #{caseeId}
	</select>

	<select id="selectCaseeOrSubject" resultType="com.pig4cloud.pig.casee.vo.CaseeOrSubjectVO">
		SELECT
		p10_subject.*,
		p10_casee_subject_re.type
		FROM
		p10_casee_subject_re
		LEFT JOIN p10_subject ON p10_casee_subject_re.subject_id = p10_subject.subject_id
		AND p10_subject.del_flag = 0
		WHERE
		p10_casee_subject_re.del_flag = 0
		AND p10_casee_subject_re.casee_id = #{query.caseeId}
		<if test="query.caseePersonnelType != null">
			AND p10_casee_subject_re.casee_personnel_type = #{query.caseePersonnelType}
		</if>
		ORDER BY p10_casee_subject_re.type asc
	</select>

	<select id="selectCaseeSubject" resultType="com.pig4cloud.pig.admin.api.entity.Subject">
		select p10_subject.* from p10_casee_subject_re
		left join p10_subject on p10_subject.subject_id = p10_casee_subject_re.subject_id
		where p10_casee_subject_re.del_flag = 0
		and p10_casee_subject_re.casee_id = #{query.caseeId}
		<if test="query.type != null and query.type != ''">
			and p10_casee_subject_re.type = #{query.type}
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and p10_subject.name like concat('%', #{query.subjectName}, '%')
		</if>
	</select>

	<resultMap id="retultAssetsBehavior" type="com.pig4cloud.pig.casee.vo.SubjectAssetsBehaviorListVO">
		<id property="subjectId" column="subject_id"/>
		<result property="name" column="name"/>
		<result property="caseeId" column="casee_id"/>
		<collection property="assetsList" ofType="com.pig4cloud.pig.casee.vo.AssetsPageVO"
					column="{subjectId=subject_id,caseeId=casee_id}"
					select="com.pig4cloud.pig.casee.mapper.AssetsMapper.selectBySujectId"></collection>
		<collection property="behaviorList" ofType="com.pig4cloud.pig.casee.entity.Behavior"
					column="{subjectId=subject_id,caseeId=casee_id}"
					select="com.pig4cloud.pig.casee.mapper.BehaviorMapper.selectBySubjectId"></collection>
	</resultMap>

	<select id="selectAssetsBehavior" resultMap="retultAssetsBehavior">
		select p10_subject.*,p10_casee_subject_re.casee_id from p10_casee_subject_re
		left join p10_subject on p10_casee_subject_re.subject_id = p10_subject.subject_id
		where p10_casee_subject_re.del_flag = 0
		and p10_casee_subject_re.casee_id = #{caseeId}
		<if test="caseePersonnelType != null and caseePersonnelType != ''">
			and p10_casee_subject_re.casee_personnel_type = #{caseePersonnelType}
		</if>
	</select>

	<select id="selectAssetNotAddedPage" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiPageVO">
		select p10_project.project_id,p10_project.company_code,p10_casee.*,p10_casee_lawyer_re.actual_name as
		lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_assets_re on p10_assets_re.casee_id = p10_casee.casee_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_casee.del_flag = 0
		and p10_assets_re.casee_id is null
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectFlowChartPage" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select
		p10_project.company_code,p10_casee.*,task_node.node_id,p10_project.project_id,p10_casee_lawyer_re.actual_name as
		lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_target on p10_target.casee_id = p10_casee.casee_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		left join (select * from (
		select p10_task_node.target_id,p10_task_node.node_key,p10_task_node.node_id from p10_task_node
		where p10_task_node.`status` = 0
		and p10_task_node.node_attributes = 400
		ORDER BY p10_task_node.sort asc
		)task_node
		GROUP BY task_node.target_id
		) task_node on task_node.target_id = p10_target.target_id
		where p10_casee.del_flag = 0
		and p10_project.`status` = 1000
		and p10_target.goal_type = 10001
		and task_node.node_id is not null
		<if test="query.nodeKey != null and query.nodeKey != ''">
			and task_node.node_key = #{query.nodeKey}
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectJudgmentTakesEffect" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiJudgmentTakesEffectVO">
		select p10_casee.*,substring(JSON_EXTRACT(p10_task_node.form_data, "$.effectiveDate"),2,10) effectiveDate from p10_casee
		left join p10_target on p10_target.casee_id=p10_casee.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_casee.del_flag = 0
		and p10_casee.casee_type in (2020,2021)
		and p10_casee.status = 1
		and p10_target.goal_type = 10001
		and p10_task_node.form_data is not null
		and p10_task_node.node_key like "%ZZSDQK"
		and JSON_EXTRACT(p10_task_node.form_data, "$.effectiveDate") is not null
	</select>

	<select id="selectLitigationFirstInstanceAppealExpired" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select p10_project.company_code,p10_casee.*,p10_project.project_id,p10_casee_lawyer_re.actual_name as lawyerName,
			p10_court.court_name,p10_project_casee_re.actual_name as userName,p10_task_node.node_id
		from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		left join p10_target on p10_target.casee_id = p10_casee.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_casee.del_flag = 0
		and p10_project.`status` = 1000
		and p10_target.goal_type = 10001
		and JSON_EXTRACT(p10_casee.casee_detail, "$.finalReceiptTime") is not null
		and p10_task_node.form_data is null
		and DATE_FORMAT(DATE_SUB(substring(JSON_EXTRACT(p10_casee.casee_detail, "$.finalReceiptTime"),2,10),INTERVAL #{day} DAY),'%Y-%m-%d') <![CDATA[<=]]>DATE_FORMAT(NOW(),'%Y-%m-%d')
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.nodeKey != null and query.nodeKey != ''">
			and p10_task_node.node_key = #{query.nodeKey}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectAddReinstatementCase" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select * from (
			select * from (
				select p10_project.project_id,p10_project.company_code,p10_casee.*,p10_project_casee_re.actual_name as userName ,
					p10_project.ins_id,p10_project.outles_id,p10_court.court_name
				from p10_project
				left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
				left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id
				left join p10_court on p10_court.court_id = p10_casee.court_id
				where p10_project.del_flag = 0
				and p10_project.`status` = 1000
				and p10_casee.casee_type in (3010,3031)
				order by p10_project.project_id,p10_casee.start_time desc
				<!-- 先排序后分组需要加上limit才有效 -->
				limit 999999999999
			)casee
			GROUP BY casee.project_id
		)casee
		where casee.status = 4
		<if test="login.insId != null and login.insId > 0">
			and casee.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and casee.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (casee.company_code like concat('%', #{query.caseeNumber}, '%')
			or casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and casee.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>


	<select id="selectCourtPayment" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select * from (
			select p10_project.project_id,p10_project.company_code,casee.*,p10_project_casee_re.actual_name as userName ,
					p10_court.court_name,SUM(p10_payment_record.payment_amount) courtSum
			from p10_project
			left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
			left join (select * from p10_casee
				where p10_casee.casee_type in (3010,3031)
				ORDER BY p10_casee.start_time desc) casee on casee.casee_id = p10_project_casee_re.casee_id
			left join p10_court on p10_court.court_id = casee.court_id
			left join p10_payment_record on p10_payment_record.project_id = p10_project.project_id
			where p10_project.del_flag = 0
			and p10_project.`status` = 1000
			and p10_payment_record.payment_type = 200
			and p10_payment_record.status = 0
			GROUP BY p10_project.project_id
		)countList
		where countList.courtSum != 0
		<if test="login.insId != null and login.insId > 0">
			and countList.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and countList.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (countList.company_code like concat('%', #{query.caseeNumber}, '%')
			or countList.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and countList.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and countList.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND countList.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectPaymentCompleted" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select * from (
			select * from (
				select p10_project.project_id,p10_project.company_code,p10_casee.*,p10_project_casee_re.actual_name as userName ,
					p10_project.ins_id,p10_project.outles_id,p10_court.court_name,json_extract(p10_project.project_detail,'$.projectAmount') projectAmount
				from p10_project
				left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
				left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id
				left join p10_court on p10_court.court_id = p10_casee.court_id
				where p10_project.del_flag = 0
				and p10_project.`status` = 1000
				and p10_casee.casee_type in (3010,3031)
				and json_extract(p10_project.project_detail,'$.projectAmount') = json_extract(p10_project.project_detail,'$.repaymentAmount')
				order by p10_project.project_id,p10_casee.start_time desc
				limit 999999999999
			)casee
			GROUP BY casee.project_id
		)casee
		where casee.status not in (2,3)
		<if test="login.insId != null and login.insId > 0">
			and casee.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and casee.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (casee.company_code like concat('%', #{query.caseeNumber}, '%')
			or casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and casee.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectNotAddBehavior" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select p10_subject.subject_id,p10_subject.name as subjectName,p10_project.project_id,p10_project.company_code,p10_casee.*,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee_subject_re
		left join p10_casee on p10_casee_subject_re.casee_id = p10_casee.casee_id
		left join p10_behavior on p10_behavior.subject_id = p10_casee_subject_re.subject_id and p10_behavior.casee_id = p10_casee.casee_id
		left join p10_project_casee_re on p10_project_casee_re.casee_id =  p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_subject on p10_subject.subject_id = p10_casee_subject_re.subject_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_project.del_flag = 0
		and p10_project.status = 1000
		and p10_casee.casee_type in (3010,3031)
		and p10_casee_subject_re.casee_personnel_type = 1
		and p10_behavior.behavior_id is null
		and p10_casee.`status` = 1
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_subject.name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="caseeSubjectNotAddAssets" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select p10_subject.subject_id,p10_subject.name as subjectName,p10_project.project_id,p10_project.company_code,p10_casee.*,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee_subject_re
		left join p10_assets_re on p10_assets_re.casee_id = p10_casee_subject_re.casee_id and p10_assets_re.subject_id = p10_casee_subject_re.subject_id
		left join p10_casee on p10_casee.casee_id = p10_casee_subject_re.casee_id
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_subject on p10_subject.subject_id = p10_casee_subject_re.subject_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_project.del_flag = 0
		and p10_project.`status` = 1000
		and p10_casee.casee_type in (3010,3031)
		and p10_casee.status = 1
		and p10_casee_subject_re.casee_personnel_type = 1
		and p10_assets_re.assets_id is null
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_subject.name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectPropertyPreservationCompleted" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select DISTINCT p10_project.project_id,p10_project.company_code,p10_casee.*,p10_court.court_name,p10_project_casee_re.actual_name as userName,p10_task_node.node_id from p10_casee
		left join p10_assets_re on p10_assets_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_assets_re.project_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		left join p10_target on p10_target.casee_id = p10_casee.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id and p10_project_casee_re.casee_id = p10_casee.casee_id
		left join (
			select p10_assets_re.* from p10_assets_re
			left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
			where p10_assets_re.casee_id is not null
			and if(p10_assets.type=20100,json_extract( p10_assets_re.assets_re_detail, '$.assetsFreeze' ) is null,json_extract( p10_assets_re.assets_re_detail, '$.assetsSeizure') is null)
			GROUP BY p10_assets_re.casee_id
			)assets on assets.casee_id = p10_casee.casee_id
		where p10_project.del_flag = 0
		and p10_assets_re.casee_id is not null
		and p10_project.`status` = 1000
		and p10_casee.`status` = 1
		and assets.assets_id is null
		and p10_target.goal_type = 10001
		and p10_task_node.node_attributes = 400
		and if(casee_type = 1010,p10_task_node.node_key="liQui_SQ_SQBQJG_SQBQJG",p10_task_node.node_key="liQui_SSBQ_SSBQBQJG_SSBQBQJG")
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_subject.name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="queryCompareTheNumberOfCasesCount" resultType="java.lang.Long">
		SELECT
		(sum(YEAR ( p10_casee.start_time )= YEAR (NOW())) - sum( ( YEAR ( p10_casee.start_time )= YEAR ( NOW())- 1 ) ))
		FROM
		p10_casee
		LEFT JOIN p10_project_casee_re ON p10_casee.casee_id = p10_project_casee_re.casee_id and p10_project_casee_re.del_flag = 0
		LEFT JOIN p10_project ON p10_project_casee_re.project_id = p10_project.project_id and p10_project.del_flag = 0
		WHERE p10_casee.del_flag = 0
		AND (YEAR ( p10_casee.start_time )= YEAR (NOW()) OR YEAR ( p10_casee.start_time )= YEAR (NOW())- 1)
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
	</select>

</mapper>
