<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.CaseeSubjectReMapper">

  <resultMap id="caseeSubjectReMap" type="com.pig4cloud.pig.casee.entity.CaseeSubjectRe">
    <id property="subjectReId" column="subject_re_id"/>
    <result property="subjectId" column="subject_id"/>
    <result property="caseeId" column="casee_id"/>
    <result property="type" column="type"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="delFlag" column="del_flag"/>
  </resultMap>

	<select id="getByCaseeId" resultType="com.pig4cloud.pig.casee.vo.SubjectOptionVO">
		SELECT
		casee_subject_re.casee_id,
		casee_subject_re.type,
		subject.*
		FROM p10_casee_subject_re casee_subject_re
		LEFT JOIN p10_subject `subject` ON casee_subject_re.subject_id = subject.subject_id
		WHERE casee_subject_re.del_flag = 0
		<if test="caseeId!=null">
			and casee_id = #{caseeId}
		</if>
		<if test="type!=null">
			and casee_subject_re.type = #{type}
		</if>
		<if test="caseePersonnelType!=null">
			and casee_subject_re.casee_personnel_type = #{caseePersonnelType}
		</if>
	</select>

</mapper>
