<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.CaseeLiquiMapper">

	<select id="selectByIdList" resultType="com.pig4cloud.pig.casee.vo.CaseeListVO">
		select p10_casee.*,p10_court.court_name as courtName,p10_casee_lawyer_re.actual_name as lawyerName,p10_project_casee_re.actual_name as actualName from p10_casee
		left join p10_court on p10_court.court_id = p10_casee.court_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		where p10_casee.del_flag = 0
		<if test="projectId!=null and projectId!=''">
			and p10_project_casee_re.project_id = #{projectId}
		</if>
		<if test="caseeType!=null and caseeType.size()>0">
			and p10_casee.casee_type in
			<foreach item="item" index="index" collection="caseeType"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		order by p10_casee.casee_type,p10_casee.category,p10_casee.start_time
	</select>

	<select id="getCaseeParentId" resultType="com.pig4cloud.pig.casee.entity.liquientity.CaseeLiqui">
		select * from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		where p10_casee.del_flag = 0
		and p10_casee.casee_type = #{caseeType}
		and p10_project_casee_re.project_id = #{projectId}
		order by p10_casee.start_time desc
		LIMIT 1
	</select>

	<select id="selectByStatusList" resultType="com.pig4cloud.pig.casee.entity.liquientity.CaseeLiqui">
		select p10_casee.* from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		where p10_casee.del_flag = 0
		<if test="projectId!=null and projectId!=''">
			and p10_project_casee_re.project_id = #{projectId}
		</if>
		<if test="statusList.size>0">
			and p10_casee.status in
			<foreach item="item" index="index" collection="statusList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		LIMIT 1
	</select>

	<select id="selectPage" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiPageVO">
		select p10_project.company_code,p10_project.project_id,p10_casee.*,p10_casee_lawyer_re.actual_name as lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_casee.del_flag = 0
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
				or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		ORDER BY p10_casee.status asc,p10_casee.start_time desc
	</select>

	<select id="queryByCaseeId" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiDetailsVO">
		select p10_project.project_id,p10_project.company_code,p10_casee.*,p10_casee_lawyer_re.actual_name as lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_casee.del_flag = 0
		and p10_casee.casee_id = #{caseeId}
	</select>

	<select id="selectCaseeOrSubject" resultType="com.pig4cloud.pig.casee.vo.CaseeOrSubjectVO">
		SELECT
		p10_subject.*,
		p10_casee_subject_re.type
		FROM
		p10_casee_subject_re
		LEFT JOIN p10_subject ON p10_casee_subject_re.subject_id = p10_subject.subject_id
		AND p10_subject.del_flag = 0
		WHERE
		p10_casee_subject_re.del_flag = 0
		AND p10_casee_subject_re.casee_id = #{query.caseeId}
		<if test="query.caseePersonnelType != null">
			AND p10_casee_subject_re.casee_personnel_type = #{query.caseePersonnelType}
		</if>
		ORDER BY p10_casee_subject_re.type asc
	</select>

	<select id="selectCaseeSubject" resultType="com.pig4cloud.pig.admin.api.entity.Subject">
		select p10_subject.* from p10_casee_subject_re
		left join p10_subject on p10_subject.subject_id = p10_casee_subject_re.subject_id
		where p10_casee_subject_re.del_flag = 0
		and p10_casee_subject_re.casee_id = #{query.caseeId}
		<if test="query.type != null and query.type != ''">
			and p10_casee_subject_re.type = #{query.type}
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and p10_subject.name like concat('%', #{query.subjectName}, '%')
		</if>
	</select>

	<resultMap id="retultAssetsBehavior" type="com.pig4cloud.pig.casee.vo.SubjectAssetsBehaviorListVO">
		<id property="subjectId" column="subject_id"/>
		<result property="name" column="name"/>
		<result property="caseeId" column="casee_id"/>
		<collection property="assetsList" ofType="com.pig4cloud.pig.casee.vo.AssetsPageVO" column="{subjectId=subject_id,caseeId=casee_id}"
					select="com.pig4cloud.pig.casee.mapper.AssetsMapper.selectBySujectId"></collection>
		<collection property="behaviorList" ofType="com.pig4cloud.pig.casee.entity.Behavior" column="{subjectId=subject_id,caseeId=casee_id}"
					select="com.pig4cloud.pig.casee.mapper.BehaviorMapper.selectBySubjectId"></collection>
	</resultMap>

	<select id="selectAssetsBehavior" resultMap="retultAssetsBehavior">
		select p10_subject.*,p10_casee_subject_re.casee_id from p10_casee_subject_re
		left join p10_subject on p10_casee_subject_re.subject_id = p10_subject.subject_id
		where p10_casee_subject_re.del_flag = 0
		and p10_casee_subject_re.casee_id = #{caseeId}
		<if test="caseePersonnelType != null and caseePersonnelType != ''">
			and p10_casee_subject_re.casee_personnel_type = #{caseePersonnelType}
		</if>
	</select>

	<select id="selectAssetNotAddedPage" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiPageVO">
		select p10_project.project_id,p10_project.company_code,p10_casee.*,p10_casee_lawyer_re.actual_name as lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_assets_re on p10_assets_re.casee_id = p10_casee.casee_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		where p10_casee.del_flag = 0
		and p10_assets_re.casee_id is null
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		ORDER BY p10_casee.status asc,p10_casee.start_time desc
	</select>

	<select id="selectFlowChartPage" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiFlowChartPageVO">
		select p10_project.company_code,p10_casee.*,task_node.node_id,p10_project.project_id,p10_casee_lawyer_re.actual_name as lawyerName,p10_court.court_name,p10_project_casee_re.actual_name as userName from p10_casee
		left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
		left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
		left join p10_target on p10_target.casee_id = p10_casee.casee_id
		left join p10_casee_lawyer_re on p10_casee_lawyer_re.casee_id = p10_casee.casee_id
		left join p10_court on p10_court.court_id = p10_casee.court_id
		left join (select * from (
							select p10_task_node.target_id,p10_task_node.node_key,p10_task_node.node_id from p10_task_node
							where p10_task_node.`status` = 0
							and p10_task_node.node_attributes = 400
							ORDER BY p10_task_node.sort asc
						)task_node
						GROUP BY task_node.target_id
					) task_node on task_node.target_id = p10_target.target_id
		where p10_casee.del_flag = 0
		<if test="query.goalType != null and query.goalType != ''">
			and p10_target.goal_type = #{query.goalType}
		</if>
		<if test="query.nodeKey != null and query.nodeKey != ''">
			and task_node.node_key = #{query.nodeKey}
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.executedName != null and query.executedName != ''">
			and p10_casee.executed_name like concat('%', #{query.executedName}, '%')
		</if>
		<if test="query.actualName != null and query.actualName != ''">
			and p10_project_casee_re.actual_name like concat('%', #{query.actualName}, '%')
		</if>
		<if test="query.caseeType != null and query.caseeType != ''">
			and p10_casee.casee_type = #{query.caseeType}
		</if>
		<if test="query.status != null and query.status != ''">
			and p10_casee.status = #{query.status}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_casee.start_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		ORDER BY p10_casee.status asc,p10_casee.start_time desc
	</select>

	<select id="selectJudgmentTakesEffect" resultType="com.pig4cloud.pig.casee.vo.CaseeLiquiJudgmentTakesEffectVO">
		select p10_casee.*,JSON_EXTRACT(p10_task_node.form_data, "$.effectiveDate") effectiveDate from p10_casee
		left join p10_target on p10_target.casee_id=p10_casee.casee_id
		left join p10_task_node on p10_task_node.target_id = p10_target.target_id
		where p10_casee.del_flag = 0
		and p10_casee.casee_type in (2020,2021,2030)
		and p10_casee.status = 1
		and p10_target.goal_type = 10001
		and p10_task_node.form_data is not null
		and p10_task_node.node_key like "%ZZSDQK"
		and JSON_EXTRACT(p10_task_node.form_data, "$.effectiveDate") is not null
	</select>

<!--	<update id="updateCaseClosed">-->
<!--		update p10_casee set close_time = #{casee.closeTime}, status = #{casee.status} where casee_id = #{casee.caseeId}-->
<!--	</update>-->

<!--	<update id="updateByCaseeLiquiList" parameterType="java.util.List">-->
<!--		<foreach collection="caseeLiquiList" item="item"  index="index" separator=";">-->
<!--			update p10_casee set close_time = #{item.closeTime}, status = #{item.status} WHERE casee_id = #{item.caseeId}-->
<!--		</foreach>-->
<!--	</update>-->

</mapper>
