<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.CaseePerformanceMapper">

  <resultMap id="caseePerformanceMap" type="com.pig4cloud.pig.casee.entity.CaseePerformance">
	  <id property="perfId" column="perf_id"/>
	  <result property="perfAmount" column="perf_amount"/>
	  <result property="perfScore" column="perf_score"/>
	  <result property="perfStatus" column="perf_status"/>
	  <result property="unit" column="unit"/>
	  <result property="nodeId" column="node_id"/>
	  <result property="caseeId" column="casee_id"/>
	  <result property="targetId" column="target_id"/>
	  <result property="insId" column="ins_id"/>
	  <result property="outlesId" column="outles_id"/>
	  <result property="userId" column="user_id"/>
	  <result property="remark" column="remark"/>
	  <result property="createTime" column="create_time"/>
	  <result property="updateTime" column="update_time"/>
	  <result property="createBy" column="create_by"/>
	  <result property="updateBy" column="update_by"/>
	  <result property="delFlag" column="del_flag"/>
  </resultMap>
	<select id="selectPerformanceByTargetId" resultType="com.pig4cloud.pig.casee.vo.CaseePerformanceVO">
		select p10_task_node.node_name as nodeName,
		p10_casee_performance.perf_amount as perfAmount,
		p10_casee_performance.perf_status as perfStatus,
		p10_task_node.update_time as updateTime,
		p10_casee_performance.perf_id as perfId,
		p10_casee_performance.remark,
		p10_task_node.update_time as updateTime

		from p10_casee_performance
		left join p10_task_node on p10_task_node.node_id=p10_casee_performance.node_id and p10_task_node.status=403
		left join p10_target on p10_target.target_id=p10_casee_performance.target_id
		where
		p10_casee_performance.del_flag='0' and
		p10_target.del_flag='0' and
		p10_task_node.del_flag='0'
		<if test="targetId!=null">
			and p10_casee_performance.target_id=#{targetId}
		</if>



	</select>
	<select id="selectPerformanceList" resultType="com.pig4cloud.pig.casee.vo.CaseePerformanceVO">
		select p10_task_node.node_name as nodeName,
		p10_casee_performance.perf_amount as perfAmount,
		p10_casee_performance.perf_status as perfStatus,
		p10_casee_performance.remark,
		p10_task_node.update_time as updateTime,
		p10_target.target_name as targetName,
		p10_casee.company_code as companyCode,
		p10_casee_performance.perf_id as perfId
		from p10_casee_performance
		left join p10_task_node on p10_task_node.node_id=p10_casee_performance.node_id and p10_task_node.status=403
		left join p10_target on p10_target.target_id=p10_casee_performance.target_id AND p10_target.del_flag = '0'
		left join p10_casee on p10_casee.casee_id=p10_casee_performance.casee_id
		where
		p10_casee_performance.del_flag='0' and
		p10_target.del_flag='0' and
		p10_task_node.del_flag='0'

		<if test="query.userId != null and query.userId != ''">
			and p10_casee_performance.user_id=#{query.userId}
		</if>

		<if test="query.targetName != null and query.targetName != ''">
			and p10_target.target_name like concat('%', #{query.targetName}, '%')
		</if>
		<if test="query.nodeName != null and query.nodeName != ''">
			and p10_task_node.node_name=#{query.nodeName}
		</if>
		<if test="query.beginDate != null    and query.endDate != null  ">
			AND p10_task_node.update_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>



	</select>

	<resultMap id="caseePerformanceSumMap" type="com.pig4cloud.pig.casee.vo.CaseePerformanceSumVO">
		<result property="sumTime" column="sumTime"/>
		<result property="userId" column="userId"/>
		<result property="perfAmountSum" column="perfAmountSum"/>
		<result property="sumTimeUserId" column="sumTimeUserId"/>
		<collection property="performanceVOs" ofType="com.pig4cloud.pig.casee.vo.CaseePerformanceVO"
					select="listPerformancesByUserId" column="{sumTimeUserId=sumTimeUserId,keyword=keyword}">
		</collection>
	</resultMap>
	<select id="selectPerformanceSumList" resultMap="caseePerformanceSumMap">
		select date_format(p10_task_node.update_time,'%Y-%m-%d') as sumTime,p10_casee_performance.user_id as userId,
		sum(p10_casee_performance.perf_amount) as perfAmountSum,concat(date_format(p10_task_node.update_time, '%Y-%m-%d'),p10_casee_performance.user_id) as sumTimeUserId
		,#{query.keyword} as keyword
		from p10_casee_performance
		left join p10_task_node on p10_task_node.node_id=p10_casee_performance.node_id and p10_task_node.status=403
		left join p10_target on p10_target.target_id=p10_casee_performance.target_id
		left join p10_casee on p10_casee.casee_id = p10_target.casee_id
		where
		p10_casee_performance.del_flag='0' and
		p10_target.del_flag='0' and
		p10_task_node.del_flag='0'
		<if test="query.outlesId != null and query.outlesId != ''">
			and    p10_casee_performance.outles_id=#{query.outlesId}
		</if>
		<if test="query.userId != null and query.userId != ''">
			and    p10_casee_performance.user_id=#{query.userId}
		</if>
		<if test="query.keyword != null and query.keyword != ''">
			and    (p10_target.target_name like  concat('%', #{query.keyword}, '%') or p10_casee.company_code like  concat('%', #{query.keyword}, '%')
			        or p10_task_node.node_name like  concat('%', #{query.keyword}, '%'))
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and    p10_casee.company_code like  concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.nodeName != null and query.nodeName != ''">
			and    p10_task_node.node_name=#{query.nodeName}
		</if>
		<if test="query.month != null and query.month != ''">
			AND  DATE_FORMAT(p10_task_node.update_time, '%Y-%m') = #{query.month}
		</if>
		GROUP BY sumTime,userId
	</select>

	<select id="listPerformancesByUserId" resultType="com.pig4cloud.pig.casee.vo.CaseePerformanceVO">
		select
		p10_casee_performance.perf_id as perfId,
		p10_task_node.node_name as nodeName,
		p10_casee_performance.perf_amount as perfAmount,
		p10_casee_performance.perf_status as perfStatus,
		p10_casee_performance.remark,
		p10_task_node.update_time as updateTime,
		p10_target.target_name as targetName,
		p10_casee.company_code as companyCode
		from p10_casee_performance
		left join p10_task_node on p10_task_node.node_id=p10_casee_performance.node_id and p10_task_node.status=403
		left join p10_target on p10_target.target_id=p10_casee_performance.target_id and p10_target.del_flag='0'
		left join p10_casee on p10_casee.casee_id=p10_target.casee_id
		where
		p10_casee_performance.del_flag='0'  and
		p10_task_node.del_flag='0' and
        concat(date_format(p10_task_node.update_time, '%Y-%m-%d'),p10_casee_performance.user_id)=#{sumTimeUserId}
		<if test="keyword != null and keyword != ''">
			and    (p10_target.target_name like  concat('%', #{keyword}, '%') or p10_casee.company_code like  concat('%', #{keyword}, '%')
			or p10_task_node.node_name like  concat('%', #{keyword}, '%'))
		</if>
	</select>


	<select id="selectPerformanceSum" resultType="java.math.BigDecimal">
		select IFNULL(sum(p10_casee_performance.perf_amount),0)
		from p10_casee_performance
		left join p10_task_node on p10_task_node.node_id=p10_casee_performance.node_id and p10_task_node.status=403
		left join p10_target on p10_target.target_id=p10_casee_performance.target_id and p10_target.del_flag='0'
		left join p10_casee on p10_casee.casee_id = p10_target.casee_id
		where
		p10_casee_performance.del_flag='0' and
		p10_target.del_flag='0' and
		p10_task_node.del_flag='0'
		<if test="query.outlesId != null and query.outlesId != ''">
			and    p10_casee_performance.outles_id=#{query.outlesId}
		</if>
		<if test="query.userId != null and query.userId != ''">
			and    p10_casee_performance.user_id=#{query.userId}
		</if>
		<if test="query.keyword != null and query.keyword != ''">
			and    (p10_target.target_name like  concat('%', #{query.keyword}, '%') or p10_casee.company_code like  concat('%', #{query.keyword}, '%')
			or p10_task_node.node_name like  concat('%', #{query.keyword}, '%'))
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and    p10_casee.company_code like  concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.nodeName != null and query.nodeName != ''">
			and    p10_task_node.node_name=#{query.nodeName}
		</if>
		<if test="query.month != null and query.month != ''">
			AND  DATE_FORMAT(p10_task_node.update_time, '%Y-%m') = #{query.month}
		</if>
	</select>

	<select id="selectPerformanceById" resultType="com.pig4cloud.pig.casee.vo.CaseePerformanceVO">
		select p10_task_node.node_name as nodeName,
		p10_casee_performance.perf_amount as perfAmount,
		p10_casee_performance.perf_status as perfStatus,
		p10_task_node.update_time as updateTime,
		p10_target.target_name as targetName,
		p10_casee.company_code as companyCode,
		p10_casee_performance.remark
		from p10_casee_performance
		left join p10_task_node on p10_task_node.node_id=p10_casee_performance.node_id and p10_task_node.status=403
		left join p10_target on p10_target.target_id=p10_casee_performance.target_id and p10_target.del_flag='0'
		left join p10_casee on p10_casee.casee_id=p10_casee_performance.casee_id
		where
		p10_casee_performance.del_flag='0' and
		p10_task_node.del_flag='0' and
	    p10_casee_performance.perf_id=#{query.perfId}

	</select>
</mapper>
