<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.DeadlineConfigureMapper">

	<resultMap id="deadlineConfigureMap" type="com.pig4cloud.pig.casee.entity.DeadlineConfigure">
		<id property="periodConfigureId" column="period_configure_id"/>
		<result property="periodConfigureKey" column="period_configure_key"/>
		<result property="deadlineName" column="deadline_name"/>
		<result property="deadlineNum" column="deadline_num"/>
		<result property="unit" column="unit"/>
		<result property="reminderDays" column="reminder_days"/>
		<result property="deadlineConfigureRemark" column="deadline_configure_remark"/>
	</resultMap>

	<select id="getDeadlineConfigurePage" resultType="com.pig4cloud.pig.casee.entity.DeadlineConfigure">
		SELECT * FROM p10_deadline_configure
		WHERE 1 = 1
		<if test="query.periodConfigureId != null and query.periodConfigureId != 0">
			and period_configure_id = #{query.periodConfigureId}
		</if>
		<if test="query.deadlineName != null and query.deadlineName != ''">
			and deadline_name like concat('%', #{query.deadlineName}, '%')
		</if>
		ORDER BY create_time DESC
	</select>
</mapper>
