<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.LiquiTransferRecordMapper">

	<resultMap id="liquiTransferRecordMap" type="com.pig4cloud.pig.casee.entity.LiquiTransferRecord">
		<id property="liquiTransferRecordId" column="liqui_transfer_record_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="entrustInsId" column="entrust_ins_id"/>
		<result property="entrustOutlesId" column="entrust_outles_id"/>
		<result property="entrustedInsId" column="entrusted_ins_id"/>
		<result property="entrustedOutlesId" column="entrusted_outles_id"/>
		<result property="projectId" column="project_id"/>
		<result property="paifuProjectId" column="paifu_project_id"/>
		<result property="nodeId" column="node_id"/>
		<result property="caseeId" column="casee_id"/>
		<result property="caseeNumber" column="casee_number"/>
		<result property="handoverTime" column="handover_time"/>
		<result property="returnTime" column="return_time"/>
		<result property="status" column="status"/>
		<result property="feedbackNotes" column="feedback_notes"/>
		<result property="remark" column="remark"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<resultMap id="liquiTransferRecordDetailsVOMap" type="com.pig4cloud.pig.casee.vo.LiquiTransferRecordDetailsVO"
			   extends="liquiTransferRecordMap">
		<collection property="assetsVOList" ofType="com.pig4cloud.pig.casee.vo.AssetsPaifuVO"
					select="com.pig4cloud.pig.casee.mapper.AssetsLiquiTransferRecordReMapper.queryAssetsByLiQuiTransferRecordId"
					column="liqui_transfer_record_id">
		</collection>
	</resultMap>

	<resultMap id="queryLiquiTransferRecordDetailsVOMap"
			   type="com.pig4cloud.pig.casee.vo.QueryLiquiTransferRecordDetailsVO"
			   extends="liquiTransferRecordMap">
		<collection property="assetsReDTOList" ofType="com.pig4cloud.pig.casee.vo.AssetsReLiquiVO"
					select="com.pig4cloud.pig.casee.mapper.AssetsLiquiTransferRecordReMapper.queryAssetsReDTOByLiQuiTransferRecordId"
					column="liqui_transfer_record_id">
		</collection>
	</resultMap>

	<resultMap id="LiquiTransferRecordAssetsDetailsVOMap" type="com.pig4cloud.pig.casee.vo.paifu.LiquiTransferRecordAssetsDetailsVO"
			   extends="liquiTransferRecordMap">
		<collection property="assetsReLiquiVOS" ofType="com.pig4cloud.pig.casee.vo.AssetsReLiquiVO"
					select="com.pig4cloud.pig.casee.mapper.AssetsLiquiTransferRecordReMapper.queryAssetsReDTOByLiQuiTransferRecordId"
					column="liqui_transfer_record_id">
		</collection>
	</resultMap>

	<resultMap id="liquiTransferRecordVOMap" type="com.pig4cloud.pig.casee.vo.LiquiTransferRecordVO"
			   extends="liquiTransferRecordMap">
		<collection property="assetsVOList" ofType="com.pig4cloud.pig.casee.vo.AssetsPaifuVO"
					select="com.pig4cloud.pig.casee.mapper.AssetsLiquiTransferRecordReMapper.queryAssetsByLiQuiTransferRecordId"
					column="liqui_transfer_record_id">
		</collection>
	</resultMap>

	<select id="queryLiquiTransferRecordPage" resultType="com.pig4cloud.pig.casee.vo.LiquiTransferRecordVO">
		SELECT
		*
		FROM
		(SELECT
		p10_liqui_transfer_record.casee_number caseeNumber,
		p10_liqui_transfer_record.handover_time handoverTime,
		p10_liqui_transfer_record.STATUS,
		p10_liqui_transfer_record.casee_id,
		p10_liqui_transfer_record.create_time,
		p10_liqui_transfer_record.del_flag,
		p10_liqui_transfer_record.liqui_transfer_record_id liquiTransferRecordId,
		DATE_FORMAT(substring( JSON_EXTRACT( p10_task_node.form_data, "$.applicationSubmissionTime" ), 2, 10 ), '%Y-%m-%d') AS applicationSubmissionTime,
		p10_institution.ins_name insName,
		p10_outles.outles_name outlesName,
		p10_liqui_transfer_record.entrust_ins_id,
		p10_liqui_transfer_record.entrust_outles_id,
		p10_liqui_transfer_record.entrusted_ins_id,
		p10_liqui_transfer_record.entrusted_outles_id,
		p10_liqui_transfer_record.project_id,
		p10_liqui_transfer_record.node_id,
		entrustedIns.ins_name entrustedInsName,
		entrustedOutles.outles_name entrustedOutlesName,
		p10_casee.executed_name as executorSubjectName,
		p10_casee.applicant_name as applicantSubjectName
		FROM
		`p10_liqui_transfer_record`
		LEFT JOIN p10_task_node ON p10_task_node.node_id = p10_liqui_transfer_record.node_id
		LEFT JOIN p10_institution ON p10_institution.ins_id = p10_liqui_transfer_record.entrust_ins_id
		LEFT JOIN p10_outles ON p10_outles.outles_id = p10_liqui_transfer_record.entrust_outles_id
		LEFT JOIN p10_institution AS entrustedIns ON entrustedIns.ins_id = p10_liqui_transfer_record.entrusted_ins_id
		LEFT JOIN p10_outles AS entrustedOutles ON entrustedOutles.outles_id =
		p10_liqui_transfer_record.entrusted_outles_id
		LEFT JOIN p10_casee ON p10_casee.casee_id = p10_liqui_transfer_record.casee_id
		ORDER BY
		p10_liqui_transfer_record.create_time DESC
		LIMIT 10000
		) AS a
		GROUP BY
		a.casee_id,
		a.project_id,
		a.node_id
		HAVING a.del_flag = 0
		<if test="login.insId != null and login.insId > 0">
			and (a.entrusted_ins_id = #{login.insId} or a.entrust_ins_id
			= #{login.insId})
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and (a.entrusted_outles_id = #{login.outlesId} or
			a.entrust_outles_id = #{login.outlesId})
		</if>
		<if test="query.status != null and query.status != -1">
			and a.status = #{query.status}
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and a.executorSubjectName like concat('%', #{query.subjectName}, '%')
			or  a.applicantSubjectName like concat('%', #{query.subjectName}, '%')
		</if>
		<if test="query.insName != null and query.insName != ''">
			AND a.insName LIKE concat( '%', #{query.insName}, '%' )
		</if>
		<if test="query.outlesName != null and query.outlesName != ''">
			AND a.outlesName LIKE concat( '%', #{query.outlesName}, '%' )
		</if>
		<if test="query.beginDate != null and query.endDate != null">
			AND a.handover_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="getByLiquiTransferRecordId" resultMap="liquiTransferRecordDetailsVOMap">
		SELECT
		p10_liqui_transfer_record.casee_number,
		p10_liqui_transfer_record.handover_time,
		p10_liqui_transfer_record.casee_id,
		p10_liqui_transfer_record.liqui_transfer_record_id,
		p10_liqui_transfer_record.project_id,
		p10_liqui_transfer_record.entrusted_ins_id,
		p10_liqui_transfer_record.entrusted_outles_id,
		p10_liqui_transfer_record.status,
		p10_liqui_transfer_record.remark,
		DATE_FORMAT(substring( JSON_EXTRACT( p10_task_node.form_data, "$.applicationSubmissionTime" ), 2, 10 ), '%Y-%m-%d') AS applicationSubmissionTime,
		JSON_EXTRACT( p10_task_node.form_data, "$.auctionApplicationFile" ) AS auctionApplicationFile,
		p10_institution.ins_name insName,
		p10_outles.outles_name outlesName,
		p10_task_node.node_id,
		p10_casee.applicant_name AS applicantSubjectName,
		p10_casee.executed_name AS executorSubjectName,
		p10_casee.judge_name,
		p10_court.court_name
		FROM
		`p10_liqui_transfer_record`
		LEFT JOIN p10_task_node ON p10_task_node.node_id = p10_liqui_transfer_record.node_id
		LEFT JOIN p10_institution ON p10_institution.ins_id = p10_liqui_transfer_record.entrust_ins_id
		LEFT JOIN p10_outles ON p10_outles.outles_id = p10_liqui_transfer_record.entrust_outles_id
		LEFT JOIN p10_casee ON p10_liqui_transfer_record.casee_id = p10_casee.casee_id
		LEFT JOIN p10_court ON p10_casee.court_id = p10_court.court_id
		WHERE p10_liqui_transfer_record.del_flag=0 AND p10_liqui_transfer_record.liqui_transfer_record_id=#{liquiTransferRecordId}
	</select>

	<select id="queryTransferRecord" resultMap="liquiTransferRecordVOMap">
		SELECT
		p10_liqui_transfer_record.casee_number caseeNumber,
		p10_liqui_transfer_record.*,
		DATE_FORMAT(substring( JSON_EXTRACT( p10_task_node.form_data, "$.applicationSubmissionTime" ), 2, 10 ), '%Y-%m-%d') AS applicationSubmissionTime,
		JSON_EXTRACT( p10_task_node.form_data, "$.auctionApplicationFile" ) AS auctionApplicationFile,
		p10_institution.ins_name insName,
		p10_outles.outles_name outlesName,
		entrustedIns.ins_name entrustedInsName,
		entrustedOutles.outles_name entrustedOutlesName
		FROM `p10_liqui_transfer_record`
		LEFT JOIN p10_task_node ON p10_task_node.node_id = p10_liqui_transfer_record.node_id
		LEFT JOIN p10_institution ON p10_institution.ins_id = p10_liqui_transfer_record.entrust_ins_id
		LEFT JOIN p10_outles ON p10_outles.outles_id = p10_liqui_transfer_record.entrust_outles_id
		LEFT JOIN p10_institution AS entrustedIns ON entrustedIns.ins_id = p10_liqui_transfer_record.entrusted_ins_id
		LEFT JOIN p10_outles AS entrustedOutles ON entrustedOutles.outles_id = p10_liqui_transfer_record.entrusted_outles_id
		WHERE p10_liqui_transfer_record.del_flag = 0
		AND p10_liqui_transfer_record.casee_id = #{caseeId}
		AND p10_liqui_transfer_record.project_id = #{projectId}
		AND p10_liqui_transfer_record.node_id = #{nodeId}
	</select>

	<select id="queryByLiquiTransferRecordId" resultMap="queryLiquiTransferRecordDetailsVOMap">
		SELECT
		p10_liqui_transfer_record.casee_number,
		p10_liqui_transfer_record.handover_time,
		p10_liqui_transfer_record.casee_id,
		p10_liqui_transfer_record.node_id,
		p10_liqui_transfer_record.liqui_transfer_record_id,
		p10_liqui_transfer_record.project_id,
		p10_liqui_transfer_record.entrust_ins_id,
		p10_liqui_transfer_record.entrust_outles_id,
		p10_liqui_transfer_record.entrusted_ins_id,
		p10_liqui_transfer_record.entrusted_outles_id,
		DATE_FORMAT(substring( JSON_EXTRACT( p10_task_node.form_data, "$.applicationSubmissionTime" ), 2, 10 ), '%Y-%m-%d') AS applicationSubmissionTime,
		JSON_EXTRACT( p10_task_node.form_data, "$.auctionApplicationFile" ) AS auctionApplicationFile,
		p10_institution.ins_name insName,
		p10_outles.outles_name outlesName
		FROM
		`p10_liqui_transfer_record`
		LEFT JOIN p10_task_node ON p10_task_node.node_id = p10_liqui_transfer_record.node_id
		LEFT JOIN p10_institution ON p10_institution.ins_id = p10_liqui_transfer_record.entrust_ins_id
		LEFT JOIN p10_outles ON p10_outles.outles_id = p10_liqui_transfer_record.entrust_outles_id
		WHERE p10_liqui_transfer_record.del_flag=0 AND p10_liqui_transfer_record.liqui_transfer_record_id=#{liquiTransferRecordId}
	</select>

	<select id="getTransferRecordAssetsByProjectId" resultMap="LiquiTransferRecordAssetsDetailsVOMap">
		SELECT
			p10_liqui_transfer_record.*,
			p10_institution.ins_name insName,
			p10_outles.outles_name outlesName,
			p10_casee.executed_name as executorSubjectName,
			p10_casee.applicant_name as applicantSubjectName,
			DATE_FORMAT(substring( JSON_EXTRACT( p10_task_node.form_data, "$.applicationSubmissionTime" ), 2, 10 ), '%Y-%m-%d') AS applicationSubmissionTime,
			JSON_EXTRACT( p10_task_node.form_data, "$.auctionApplicationFile" ) AS auctionApplicationFile
		FROM
			p10_liqui_transfer_record
			LEFT JOIN p10_task_node ON p10_task_node.node_id = p10_liqui_transfer_record.node_id
			LEFT JOIN p10_institution ON p10_institution.ins_id = p10_liqui_transfer_record.entrust_ins_id
			LEFT JOIN p10_outles ON p10_outles.outles_id = p10_liqui_transfer_record.entrust_outles_id
			LEFT JOIN p10_casee ON p10_casee.casee_id = p10_liqui_transfer_record.casee_id
		WHERE
			p10_liqui_transfer_record.paifu_project_id =#{projectId} AND p10_liqui_transfer_record.`status` IN(1,3)
	</select>

	<select id="getByPaifuProjectIdAndAssetsId" resultType="com.pig4cloud.pig.casee.entity.LiquiTransferRecord">
		SELECT
			p10_liqui_transfer_record.*
		FROM
		p10_assets_liqui_transfer_record_re
		INNER JOIN p10_liqui_transfer_record ON p10_assets_liqui_transfer_record_re.liqui_transfer_record_id = p10_liqui_transfer_record.liqui_transfer_record_id
		INNER JOIN p10_assets_re ON p10_assets_liqui_transfer_record_re.assets_re_id = p10_assets_re.assets_re_id
		WHERE p10_assets_re.assets_id = #{assetsId}
		AND p10_liqui_transfer_record.paifu_project_id = #{paifuProjectId}
	</select>
</mapper>
