<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.PaymentRecordMapper">

  <resultMap id="paymentRecordMap" type="com.pig4cloud.pig.casee.entity.PaymentRecord">
    <id property="paymentRecordId" column="payment_record_id"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateBy" column="update_by"/>
    <result property="delFlag" column="del_flag"/>
    <result property="projectId" column="project_id"/>
    <result property="paymentType" column="payment_type"/>
    <result property="fundsType" column="funds_type"/>
    <result property="paymentDate" column="payment_date"/>
    <result property="fatherId" column="father_id"/>
    <result property="paymentAmount" column="payment_amount"/>
    <result property="caseeId" column="casee_id"/>
    <result property="companyCode" column="company_code"/>
	<result property="caseeNumber" column="casee_number"/>
	<result property="subjectName" column="subject_name"/>
	<result property="status" column="status"/>
  </resultMap>

	<select id="getPaymentRecordPage" resultType="com.pig4cloud.pig.casee.vo.PaymentRecordVO">
		select p10_payment_record.*,json_extract(p10_project.project_detail,'$.projectAmount') as projectAmount from p10_payment_record
		left join p10_project on p10_project.project_id=p10_payment_record.project_id
		where
		p10_payment_record.del_flag=0 and ISNULL(p10_payment_record.father_id)
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and p10_payment_record.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and p10_payment_record.subject_name like concat('%', #{query.subjectName}, '%')
		</if>
		<if test="query.paymentDate != null">
			and p10_payment_record.payment_date =#{query.paymentDate}
		</if>
	</select>
</mapper>
