<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.PaymentRecordMapper">

	<resultMap id="paymentRecordMap" type="com.pig4cloud.pig.casee.entity.PaymentRecord">
		<id property="paymentRecordId" column="payment_record_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="projectId" column="project_id"/>
		<result property="expenseRecordId" column="expense_record_id"/>
		<result property="paymentType" column="payment_type"/>
		<result property="fundsType" column="funds_type"/>
		<result property="paymentDate" column="payment_date"/>
		<result property="fatherId" column="father_id"/>
		<result property="paymentAmount" column="payment_amount"/>
		<result property="caseeId" column="casee_id"/>
		<result property="companyCode" column="company_code"/>
		<result property="caseeNumber" column="casee_number"/>
		<result property="subjectName" column="subject_name"/>
		<result property="status" column="status"/>
		<result property="remark" column="remark"/>
		<result property="appendixFile" column="appendix_file"/>
	</resultMap>

	<select id="getPaymentRecordPage" resultType="com.pig4cloud.pig.casee.vo.PaymentRecordVO">
		select p10_payment_record.*,json_extract(p10_project.project_detail,'$.projectAmount') as projectAmount from
		p10_payment_record
		left join p10_project on p10_project.project_id=p10_payment_record.project_id
		where
		p10_payment_record.del_flag=0 and ISNULL(p10_payment_record.father_id)
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and p10_payment_record.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and p10_payment_record.subject_name like concat('%', #{query.subjectName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_payment_record.payment_date BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="sumCourtPayment" resultType="java.math.BigDecimal">
		select SUM(payment_amount) from p10_payment_record
		where del_flag = 0
		<if test="query.paymentType != null">
			and payment_type = #{query.paymentType}
		</if>
		<if test="query.status != null">
			and status = #{query.status}
		</if>
		<if test="query.projectId != null">
			and project_id = #{query.projectId}
		</if>
		<if test="query.expenseRecordId != null">
			and expense_record_id = #{query.expenseRecordId}
		</if>
	</select>

	<select id="paymentSumAmount" resultType="java.math.BigDecimal">
		select if(ISNULL(payment_amount),0,SUM(payment_amount)) from p10_payment_record
		where del_flag = 0
			and funds_type = #{fundsType}
			and project_id = #{projectId}
			<if test="caseeId != null">
				and casee_id = #{caseeId}
			</if>
	</select>

	<select id="getCourtPaymentPage" resultType="com.pig4cloud.pig.casee.vo.PaymentRecordCourtPaymentVO">
		SELECT
			p10_payment_record.*,
			lumpSum.courtPayment as courtPayment
		FROM
			p10_payment_record,
			(
			SELECT
				sum(payment_amount) as courtPayment
			FROM
				p10_payment_record
			WHERE
				p10_payment_record.project_id = #{projectId}
				AND p10_payment_record.funds_type LIKE concat( '%', 200, '%' )
				AND p10_payment_record.payment_type = 200
				AND p10_payment_record.status != 2
			) lumpSum
		WHERE
			p10_payment_record.project_id = #{projectId}
			AND p10_payment_record.funds_type LIKE concat( '%', 200, '%' )
			AND p10_payment_record.payment_type = 200
	</select>

	<select id="getCourtPaymentUnpaid" resultType="com.pig4cloud.pig.casee.vo.PaymentRecordVO">
		select p10_payment_record.*,p10_payment_record.subject_name as name, p10_subject.subject_id as subjectId from p10_payment_record
		left join p10_payment_record_subject_re on p10_payment_record_subject_re.payment_record_id=p10_payment_record.payment_record_id
		left join p10_subject on p10_subject.subject_id=p10_payment_record_subject_re.subject_id
		where p10_payment_record.del_flag = 0
		and p10_payment_record.project_id=#{projectId}
		and p10_payment_record.funds_type like concat( '%', 200, '%' )
		and p10_payment_record.payment_type = 200
		and p10_payment_record.status = 0
	</select>

	<select id="queryCompareMoneyBackAmountCount" resultType="java.math.BigDecimal">
		SELECT (
		(SELECT IF(sum( p10_payment_record.payment_amount ) IS NULL,0,sum( p10_payment_record.payment_amount )) AS
		thisYear
		FROM
		p10_payment_record LEFT JOIN p10_project ON p10_payment_record.project_id = p10_project.project_id and
		p10_project.del_flag = 0
		WHERE
		p10_payment_record.del_flag = 0
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
		AND p10_payment_record.father_id IS NOT NULL
		AND YEAR ( p10_payment_record.payment_date )= YEAR (NOW()))
		-
		(SELECT IF(sum( p10_payment_record.payment_amount ) IS NULL,0,sum( p10_payment_record.payment_amount )) AS
		lastYear
		FROM
		p10_payment_record LEFT JOIN p10_project ON p10_payment_record.project_id = p10_project.project_id and
		p10_project.del_flag = 0
		WHERE
		p10_payment_record.del_flag = 0
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
		AND p10_payment_record.father_id IS NOT NULL
		AND YEAR ( p10_payment_record.payment_date )= YEAR (NOW())- 1 ))
	</select>

	<select id="queryMoneyBackMonthlyRankList" resultType="com.pig4cloud.pig.casee.vo.MoneyBackMonthlyRank">
		SELECT
		sys_user.actual_name,
		sum( payment_amount ) repaymentAmount
		FROM
		p10_payment_record
		LEFT JOIN p10_project ON p10_payment_record.project_id = p10_project.project_id AND p10_project.del_flag = 0
		LEFT JOIN sys_user ON p10_payment_record.create_by = sys_user.user_id
		AND sys_user.del_flag = 0
		WHERE
		p10_payment_record.del_flag = 0
		<if test="query.beginDate == null and query.endDate == null">
			AND DATE_FORMAT( p10_payment_record.payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE(), '%Y%m' )
		</if>
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
		<if test="query.managerName != null and query.managerName != ''">
			AND sys_user.actual_name like concat('%', #{query.managerName}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null">
			AND p10_payment_record.payment_date BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') AND DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		AND p10_payment_record.father_id IS NOT NULL
		GROUP BY p10_payment_record.create_by
		ORDER BY repaymentAmount DESC
	</select>

	<select id="getTotalRepayments" resultType="java.math.BigDecimal">
		SELECT
		sum( payment_amount )
		FROM
		p10_payment_record
		LEFT JOIN p10_project ON p10_payment_record.project_id = p10_project.project_id
		AND p10_project.del_flag = 0
		WHERE
		p10_payment_record.del_flag = 0
		AND DATE_FORMAT( p10_payment_record.payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE(), '%Y%m' )
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
		AND p10_payment_record.father_id IS NOT NULL
	</select>

	<select id="getPaymentRecordMap" resultType="java.util.LinkedHashMap">
		SELECT
		<if test="polylineColumnActive != null and polylineColumnActive == 0">
			<foreach collection="differenceList" item="params" separator=",">
				IFNULL( sum(CASE YEAR (p10_payment_record.payment_date) WHEN #{params} THEN p10_payment_record.payment_amount ELSE 0 END), 0) AS #{params}
			</foreach>
		</if>
		<if test="polylineColumnActive != null and polylineColumnActive == 1">
			<foreach collection="differenceList" item="params" separator=",">
				IFNULL( sum( CASE DATE_FORMAT( p10_payment_record.payment_date, '%Y-%m' ) WHEN  #{params} THEN p10_payment_record.payment_amount ELSE 0 END ), 0) AS #{params}
			</foreach>
		</if>
		FROM
		p10_payment_record
		LEFT JOIN p10_project ON p10_payment_record.project_id = p10_project.project_id
		AND p10_project.del_flag = 0
		WHERE
		p10_payment_record.del_flag = 0
		<if test="insId != null and insId != 0">
			AND p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			AND p10_project.outles_id = #{outlesId}
		</if>
		AND p10_payment_record.father_id IS NOT NULL
	</select>

	<resultMap id="getAssetsReList" type="com.pig4cloud.pig.casee.vo.paifu.PaymentRecordListVO" extends="paymentRecordMap">
		<collection property="assetsReList" ofType="com.pig4cloud.pig.casee.vo.paifu.AssetsRePaifuDetailVO" column="payment_record_id"
					select="com.pig4cloud.pig.casee.mapper.PaymentRecordAssetsReMapper.selectAssetsList">
		</collection>
	</resultMap>

	<select id="queryPaifuPaymentRecordList" resultMap="getAssetsReList">
		select * from p10_payment_record
		where p10_payment_record.del_flag = 0
		and p10_payment_record.project_id = #{projectId}
	</select>
</mapper>
