<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.ProjectLiquiMapper">

	<resultMap id="queryPageProjectLiquiMap" type="com.pig4cloud.pig.casee.vo.ProjectLiquiOrBehaviorPageVO">
		<id  property="projectId" column="project_id"></id>
		<result property="createTime" column="create_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
		<result property="projectType" column="project_type"></result>
		<result property="companyCode" column="company_code"></result>
		<result property="status" column="status"></result>
		<result property="insId" column="ins_id"></result>
		<result property="outlesId" column="outles_id"></result>
		<result property="userId" column="user_id"></result>
		<result property="userNickName" column="user_nick_name"></result>
		<result property="takeTime" column="take_time"></result>
		<result property="closeTime" column="close_time"></result>
		<result property="year" column="year"></result>
		<result property="alias" column="alias"></result>
		<result property="word" column="word"></result>
		<result property="proposersNames" column="proposers_names"></result>
		<result property="subjectPersons" column="subject_persons"></result>
		<result property="projectDetail" column="project_detail"></result>
		<result property="describes" column="describes"></result>
		<collection property="behaviorList" ofType="com.pig4cloud.pig.casee.vo.BehaviorOrCaseeVO" select="com.pig4cloud.pig.casee.mapper.BehaviorMapper.getBehaviorByProjectId" column="project_id">

		</collection>
	</resultMap>

	<select id="selectPageLiqui" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiPageVO">
		select p10_project.*,json_extract(p10_transfer_record.transfer_detail,'$.handoverAmount') as handoverAmount,json_extract(p10_transfer_record.transfer_detail,'$.litigation') as litigation,p10_bank_loan.mortgage_situation from p10_project
		left join p10_transfer_record on p10_transfer_record.source_id = p10_project.project_id and p10_transfer_record.del_flag = 0 and p10_transfer_record.transfer_type = 0 and p10_transfer_record.status = 1
		left join p10_bank_loan on p10_bank_loan.bank_loan_id = p10_transfer_record.source_id and p10_transfer_record.transfer_type = 0
		where p10_project.del_flag = 0 and p10_project.project_type = 100
		<if test="query.status != null and query.status >= 0">
			and p10_project.status = #{query.status}
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.proposersNames != null and query.proposersNames != ''">
			and  p10_project.proposers_names like concat('%', #{query.proposersNames}, '%')
		</if>
		<if test="query.subjectPersons != null and query.subjectPersons != ''">
			and  p10_project.subject_persons like concat('%', #{query.subjectPersons}, '%')
		</if>
		<if test="query.userNickName != null and query.userNickName != ''">
			and  p10_project.user_nick_name like concat('%', #{query.userNickName}, '%')
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and  p10_project.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_project.take_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		ORDER BY p10_project.status asc,p10_project.take_time desc
	</select>

	<select id="selectByProjectId" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiDetailsVO">
		select p10_project.*,p10_institution.ins_name,p10_outles.outles_name from p10_project
		left join p10_institution on p10_institution.ins_id = p10_project.ins_id
		left join p10_outles on p10_outles.outles_id = p10_project.outles_id
		where p10_project.del_flag = 0 and p10_project.project_type = 100
		and p10_project.project_id = #{projectId}
		LIMIT 1
	</select>

	<select id="selectProjectSubject" resultType="com.pig4cloud.pig.casee.vo.ProjectSubjectVO">
		select p10_subject.*,p10_project_subject_re.type from p10_project_subject_re
		left join p10_subject on p10_subject.subject_id = p10_project_subject_re.subject_id
		where p10_project_subject_re.del_flag = 0
		and p10_project_subject_re.project_id = #{query.projectId}
		<if test="query.typeList != null and query.typeList.size()>0">
			and p10_project_subject_re.type in
			<foreach item="item" index="index" collection="query.typeList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and p10_subject.name like concat('%', #{query.subjectName}, '%')
		</if>
	</select>

	<select id="getByProjectId" resultType="com.pig4cloud.pig.casee.entity.liquientity.ProjectLiqui">
		select * from p10_project
		where project_id = #{projectId}
	</select>

	<select id="queryPageProjectLiqui" resultMap="queryPageProjectLiquiMap">
		SELECT * FROM p10_project LEFT JOIN p10_project_subject_re ON p10_project_subject_re.project_id =  p10_project.project_id where p10_project_subject_re.subject_id = #{subjectId}
	</select>



</mapper>
