<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.ProjectPaifuMapper">

	<resultMap id="projectMap" type="com.pig4cloud.pig.casee.entity.paifuentity.ProjectPaifu">
		<id property="projectId" column="project_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="projectType" column="project_type"/>
		<result property="companyCode" column="company_code"/>
		<result property="status" column="status"/>
		<result property="insId" column="ins_id"/>
		<result property="outlesId" column="outles_id"/>
		<result property="userId" column="user_id"/>
		<result property="userNickName" column="user_nick_name"/>
		<result property="takeTime" column="take_time"/>
		<result property="closeTime" column="close_time"/>
		<result property="year" column="year"/>
		<result property="alias" column="alias"/>
		<result property="word" column="word"/>
		<result property="proposersNames" column="proposers_names"/>
		<result property="subjectPersons" column="subject_persons"/>
		<result property="projectDetail" column="project_detail"/>
		<result property="describes" column="describes"/>
	</resultMap>

	<select id="selectPagePaifu" resultType="com.pig4cloud.pig.casee.vo.paifu.ProjectPaifuPageVO">
		select p10_project.*,p10_casee.*,p10_institution.ins_id as courtName from p10_project
		left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
		left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id
		left join p10_institution on p10_institution.ins_id = p10_casee.court_id
		where p10_project.del_flag = 0
		and p10_project.project_type = 200
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.status != null and query.status >= 0">
			and p10_project.status = #{query.status}
		</if>
		<if test="query.caseeNumber != null and query.caseeNumber != ''">
			and (p10_project.company_code like concat('%', #{query.caseeNumber}, '%')
			or p10_casee.casee_number like concat('%', #{query.caseeNumber}, '%'))
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and (p10_project.proposers_names like concat('%', #{query.subjectName}, '%')
			or p10_project.subject_persons like concat('%', #{query.subjectName}, '%'))
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_project.take_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		<if test="query.userNickName != null and query.userNickName != ''">
			and p10_project.user_nick_name like concat('%', #{query.userNickName}, '%')
		</if>
		<if test="query.judgeName != null and query.judgeName != ''">
			and p10_casee.judge_name like concat('%', #{query.judgeName}, '%')
		</if>
	</select>

</mapper>
