<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.ProjectLiquiMapper">

	<resultMap id="projectMap" type="com.pig4cloud.pig.casee.entity.liquientity.ProjectLiqui">
		<id property="projectId" column="project_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="projectType" column="project_type"/>
		<result property="companyCode" column="company_code"/>
		<result property="status" column="status"/>
		<result property="insId" column="ins_id"/>
		<result property="outlesId" column="outles_id"/>
		<result property="userId" column="user_id"/>
		<result property="userNickName" column="user_nick_name"/>
		<result property="takeTime" column="take_time"/>
		<result property="closeTime" column="close_time"/>
		<result property="year" column="year"/>
		<result property="alias" column="alias"/>
		<result property="word" column="word"/>
		<result property="proposersNames" column="proposers_names"/>
		<result property="subjectPersons" column="subject_persons"/>
		<result property="projectDetail" column="project_detail"/>
		<result property="describes" column="describes"/>
	</resultMap>

	<resultMap id="queryPageProjectLiquiMap" type="com.pig4cloud.pig.casee.vo.ProjectLiquiOrBehaviorPageVO" extends="projectMap">
		<collection property="behaviorList" ofType="com.pig4cloud.pig.casee.vo.BehaviorOrCaseeVO"
					select="com.pig4cloud.pig.casee.mapper.BehaviorMapper.getBehaviorByProjectId" column="project_id">
		</collection>
	</resultMap>

	<select id="selectPageLiqui" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiPageVO">
		select p10_project.*,entrustInsOutles.outles_name as entrustOutlesName from p10_project
		left join p10_institution on p10_institution.ins_id = p10_project.ins_id
		left join p10_outles on p10_outles.outles_id = p10_project.outles_id
		left join p10_project_outles_deal_re on p10_project_outles_deal_re.project_id = p10_project.project_id
		left join p10_outles entrustInsOutles on entrustInsOutles.outles_id = p10_project_outles_deal_re.outles_id
		where p10_project.del_flag = 0 and p10_project.project_type = 100
		<if test="query.status != null and query.status >= 0">
			and p10_project.status = #{query.status}
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.proposersNames != null and query.proposersNames != ''">
			and (p10_project.proposers_names like concat('%', #{query.proposersNames}, '%')
				or entrustInsOutles.outles_name like concat('%', #{query.proposersNames}, '%'))
		</if>
		<if test="query.subjectPersons != null and query.subjectPersons != ''">
			and p10_project.subject_persons like concat('%', #{query.subjectPersons}, '%')
		</if>
		<if test="query.userNickName != null and query.userNickName != ''">
			and p10_project.user_nick_name like concat('%', #{query.userNickName}, '%')
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and p10_project.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.insName != null and query.insName != ''">
			and p10_institution.ins_name like concat('%', #{query.insName}, '%')
		</if>
		<if test="query.outlesName != null and query.outlesName != ''">
			and p10_outles.outles_name like concat('%', #{query.outlesName}, '%')
		</if>
		<if test="query.mortgageSituation != null">
			and json_extract(p10_project.project_detail,'$.mortgageSituation') = #{query.mortgageSituation}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_project.take_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="getProjectSumAmount" resultType="com.pig4cloud.pig.casee.dto.ProjectLiquiSumAmountDTO">
		select sum(json_extract(p10_project.project_detail,'$.principal')) sumPrincipal,sum(json_extract(p10_project.project_detail,'$.interest')) sumPrincipalInterestAmount,sum(json_extract(p10_project.project_detail,'$.principalInterestAmount')) sumProjectAmount from p10_project
		left join p10_institution on p10_institution.ins_id = p10_project.ins_id
		left join p10_outles on p10_outles.outles_id = p10_project.outles_id
		left join p10_project_outles_deal_re on p10_project_outles_deal_re.project_id = p10_project.project_id
		left join p10_outles entrustInsOutles on entrustInsOutles.outles_id = p10_project_outles_deal_re.outles_id
		where p10_project.del_flag = 0 and p10_project.project_type = 100
		<if test="query.status != null and query.status >= 0">
			and p10_project.status = #{query.status}
		</if>
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.proposersNames != null and query.proposersNames != ''">
			and (p10_project.proposers_names like concat('%', #{query.proposersNames}, '%')
			or entrustInsOutles.outles_name like concat('%', #{query.proposersNames}, '%'))
		</if>
		<if test="query.subjectPersons != null and query.subjectPersons != ''">
			and p10_project.subject_persons like concat('%', #{query.subjectPersons}, '%')
		</if>
		<if test="query.userNickName != null and query.userNickName != ''">
			and p10_project.user_nick_name like concat('%', #{query.userNickName}, '%')
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and p10_project.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.insName != null and query.insName != ''">
			and p10_institution.ins_name like concat('%', #{query.insName}, '%')
		</if>
		<if test="query.outlesName != null and query.outlesName != ''">
			and p10_outles.outles_name like concat('%', #{query.outlesName}, '%')
		</if>
		<if test="query.mortgageSituation != null">
			and json_extract(p10_project.project_detail,'$.mortgageSituation') = #{query.mortgageSituation}
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_project.take_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<select id="selectByProjectId" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiDetailsVO">
		select p10_project.*,p10_institution.ins_name,p10_outles.outles_name from p10_project
		left join p10_institution on p10_institution.ins_id = p10_project.ins_id
		left join p10_outles on p10_outles.outles_id = p10_project.outles_id
		where p10_project.del_flag = 0 and p10_project.project_type = 100
		and p10_project.project_id = #{projectId}
		LIMIT 1
	</select>

	<select id="selectProjectSubject" resultType="com.pig4cloud.pig.casee.vo.ProjectSubjectVO">
		select p10_subject.*,p10_project_subject_re.type,p10_project_subject_re.subject_re_id, p10_project_subject_re.describes from p10_project_subject_re
		left join p10_subject on p10_subject.subject_id = p10_project_subject_re.subject_id
		where p10_project_subject_re.del_flag = 0
		and p10_project_subject_re.project_id = #{query.projectId}
		<if test="query.typeList != null and query.typeList.size()>0">
			and p10_project_subject_re.type in
			<foreach item="item" index="index" collection="query.typeList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and p10_subject.name like concat('%', #{query.subjectName}, '%')
		</if>
	</select>

	<select id="getByProjectId" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiDetailsVO">
		select p10_project.*,json_extract(p10_transfer_record.transfer_detail,'$.litigation') as litigation from p10_project
		left join p10_transfer_record on p10_transfer_record.project_id=p10_project.project_id
		where p10_project.project_id = #{projectId}
	</select>

	<select id="queryPageProjectLiqui" resultMap="queryPageProjectLiquiMap">
		SELECT * FROM p10_project LEFT JOIN p10_project_subject_re ON p10_project_subject_re.project_id =  p10_project.project_id where p10_project_subject_re.subject_id = #{subjectId}
	</select>

	<select id="selectNotProcessedPage" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiPageVO">
		select p10_project.* from p10_project
		left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
		where p10_project.del_flag = 0
		and p10_project.project_type = 100
		and p10_project.status = 1000
		and p10_project_casee_re.project_id is null
		<if test="login.insId != null and login.insId > 0">
			and p10_project.ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_project.outles_id = #{login.outlesId}
		</if>
		<if test="query.subjectPersons != null and query.subjectPersons != ''">
			and p10_project.subject_persons like concat('%', #{query.subjectPersons}, '%')
		</if>
		<if test="query.userNickName != null and query.userNickName != ''">
			and p10_project.user_nick_name like concat('%', #{query.userNickName}, '%')
		</if>
		<if test="query.companyCode != null and query.companyCode != ''">
			and p10_project.company_code like concat('%', #{query.companyCode}, '%')
		</if>
		<if test="query.beginDate != null and query.endDate != null  ">
			AND p10_project.take_time BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
			DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
		</if>
	</select>

	<resultMap id="retultAssetsBehavior" type="com.pig4cloud.pig.casee.vo.SubjectAssetsBehaviorListVO">
		<id property="subjectId" column="subject_id"/>
		<result property="name" column="name"/>
		<result property="projectId" column="project_id"/>
		<collection property="assetsList" ofType="com.pig4cloud.pig.casee.dto.AssetsReDTO"
					column="{subjectId=subject_id,projectId=project_id}"
					select="com.pig4cloud.pig.casee.mapper.AssetsReLiquiMapper.selectBySubject"></collection>
		<collection property="behaviorList" ofType="com.pig4cloud.pig.casee.entity.Behavior"
					column="{subjectId=subject_id,projectId=project_id}"
					select="com.pig4cloud.pig.casee.mapper.BehaviorMapper.selectBySubjectId"></collection>
	</resultMap>

	<select id="selectAssetsBehavior" resultMap="retultAssetsBehavior">
		select DISTINCT p10_subject.*,p10_project.project_id from p10_project
		left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
		left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id
		left join p10_casee_subject_re on p10_casee_subject_re.casee_id = p10_casee.casee_id
		left join p10_subject on p10_subject.subject_id = p10_casee_subject_re.subject_id
		where p10_project.del_flag = 0
		and p10_project.project_id = #{projectId}
		<if test="caseePersonnelType != null and caseePersonnelType != ''">
			and p10_casee_subject_re.casee_personnel_type = #{caseePersonnelType}
		</if>
	</select>

	<select id="queryCompareTheNumberOfItemsCount" resultType="java.lang.Long">
		SELECT
		IFNULL((sum( YEAR ( take_time )= YEAR (NOW())) - sum( ( YEAR ( take_time )= YEAR ( NOW())- 1 ) ) ), 0)
		FROM
		p10_project
		WHERE
		del_flag = 0
		and ( YEAR ( take_time )= YEAR ( NOW()) OR YEAR ( take_time )= YEAR ( NOW())- 1 )
		<if test="insId != null and insId != 0">
			and ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			and outles_id = #{outlesId}
		</if>
	</select>

	<select id="selectProjectDetails" resultType="com.pig4cloud.pig.casee.entity.liquientity.ProjectLiqui">
		select * from p10_project
		where del_flag = 0
		and project_id = #{projectId}
	</select>

	<select id="selectFulfillFirstExecutionPending" resultType="com.pig4cloud.pig.casee.vo.ProjectLiquiPageVO">
		select DISTINCT p10_project.*,json_extract(p10_transfer_record.transfer_detail,'$.litigation') as litigation from (
			select p10_project.* from p10_project
			left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
			left join p10_transfer_record on p10_transfer_record.project_id = p10_project.project_id
			left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id and p10_casee.casee_type = 3010
			left join (select p10_casee.casee_id from p10_casee
					left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
					where p10_casee.del_flag = 0
					and p10_casee.casee_type in (2020,2021)
					and p10_casee.`status` = 3
					GROUP BY p10_project_casee_re.project_id
				)casee on casee.casee_id = p10_project_casee_re.casee_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_casee.casee_id is null
			and casee.casee_id is not null
			and if(p10_casee.casee_type = 2020, json_extract( p10_casee.casee_detail, '$.firstTrialRefereeResult.refereeType' ) != 2, json_extract( p10_casee.casee_detail, '$.secondTrialRefereeResult.refereeType' ) != 2)
			and json_extract( p10_transfer_record.transfer_detail, '$.litigation' ) = 0
			union
			select p10_project.* from p10_project
			left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
			left join p10_transfer_record on p10_transfer_record.project_id = p10_project.project_id
			left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id and p10_casee.casee_type = 3010
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_casee.casee_id is null
			and json_extract( p10_transfer_record.transfer_detail, '$.litigation' ) = 1
			union
			select p10_project.* from p10_project
			left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
			left join p10_casee on p10_casee.casee_id = p10_project_casee_re.casee_id and p10_casee.casee_type = 3010
			left join (select reconciliatio_mediation_id,project_id,max(reconciliatio_mediation_data),status from p10_reconciliatio_mediation
					GROUP BY project_id
				)p10_reconciliatio_mediation on p10_reconciliatio_mediation.project_id = p10_project.project_id and p10_reconciliatio_mediation.`status` = 3
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_reconciliatio_mediation.reconciliatio_mediation_id is not null
			and p10_casee.casee_id is null
			)p10_project
		left join p10_transfer_record on p10_transfer_record.project_id = p10_project.project_id
		<where>
			<if test="login.insId != null and login.insId > 0">
				and p10_project.ins_id = #{login.insId}
			</if>
			<if test="login.outlesId != null and login.outlesId > 0">
				and p10_project.outles_id = #{login.outlesId}
			</if>
			<if test="query.subjectPersons != null and query.subjectPersons != ''">
				and p10_project.subject_persons like concat('%', #{query.subjectPersons}, '%')
			</if>
			<if test="query.companyCode != null and query.companyCode != ''">
				and p10_project.company_code like concat('%', #{query.companyCode}, '%')
			</if>
		</where>
	</select>

	<select id="getProjectMap" resultType="java.util.LinkedHashMap">
		select
		<if test="polylineActive != null and polylineActive == 0">
			<foreach collection="differenceList" item="params" separator=",">
				IFNULL(sum( YEAR ( take_time ) =#{params}), 0) as #{params}
			</foreach>
		</if>
		<if test="polylineActive != null and polylineActive == 1">
			<foreach collection="differenceList" item="params" separator=",">
				IFNULL(sum( DATE_FORMAT(take_time , '%Y-%m' ) =#{params}), 0) as #{params}
			</foreach>
		</if>
		FROM p10_project
		WHERE del_flag = 0
		<if test="insId != null and insId != 0">
			and p10_project.ins_id = #{insId}
		</if>
		<if test="outlesId != null and outlesId != 0">
			and p10_project.outles_id = #{outlesId}
		</if>
	</select>

	<select id="selectStatisticsReminder" resultType="com.pig4cloud.pig.casee.vo.count.ExpirationReminderVO">
		select * from (
			<!-- 拘留到期 -->
			select 1 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_behavior.behavior_id as businessId,p10_behavior.executed_name as executedName,substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.limitEndTime"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.limitEndTime"),2,10)) as remainingDays from p10_behavior
			left join p10_project on p10_project.project_id = p10_behavior.project_id
			left join p10_casee on p10_casee.casee_id = p10_behavior.casee_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_behavior.behavior_status = 1
			and p10_behavior.type = 100
			and DATE_SUB(substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.limitEndTime"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "jldq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.limitEndTime"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 行为限制到期 -->
			select 2 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_behavior.behavior_id as businessId,p10_behavior.executed_name as executedName,substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.behaviorIllegalCommittingAnIllegalAct.detentionEndDate"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.behaviorIllegalCommittingAnIllegalAct.detentionEndDate"),2,10)) as remainingDays from p10_behavior
			left join p10_project on p10_project.project_id = p10_behavior.project_id
			left join p10_casee on p10_casee.casee_id = p10_behavior.casee_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_behavior.behavior_status = 1
			and p10_behavior.type = 200
			and DATE_SUB(substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.behaviorIllegalCommittingAnIllegalAct.detentionEndDate"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "xwxzdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_behavior.behavior_detail, "$.behaviorIllegalCommittingAnIllegalAct.detentionEndDate"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			select 3 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,null as casee_id,null as casee_number,null as businessId,null as executedName,p10_project.endTime as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),p10_project.endTime) as remainingDays from (
				select p10_project.*,DATE_ADD(p10_project.startDate ,INTERVAL (select deadline_num from p10_deadline_configure where del_flag = 0 and period_configure_key = "sssxdq" limit 1) year) endTime
				from (
					select p10_project.*,if(p10_payment_record.payment_date is null,p10_project.startingTime,if(p10_project.startingTime>=p10_payment_record.payment_date,p10_project.startingTime,p10_payment_record.payment_date)) startDate from(
					select p10_project.*,DATE_FORMAT(if(p10_project_urge.urge_time is null,substring(json_extract( p10_transfer_record.transfer_detail, '$.startingTime' ),2,10),p10_project_urge.urge_time), '%Y-%m-%d') startingTime from p10_project
					left join p10_transfer_record on p10_transfer_record.project_id = p10_project.project_id
					left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
					left join p10_casee on p10_project_casee_re.casee_id = p10_casee.casee_id and p10_casee.casee_type in (2020,2021,3031,3031)
					left join (select project_id,max(urge_time) urge_time from p10_project_urge where del_flag = 0 and urge_according = 100 GROUP BY project_id )p10_project_urge on p10_project_urge.project_id = p10_project.project_id
					where p10_project.del_flag = 0
					and p10_project.project_type = 100
					and p10_project.`status` = 1000
					and p10_casee.casee_id is null
					and json_extract( p10_transfer_record.transfer_detail, '$.litigation' )=0
				) p10_project
				left join (select project_id,DATE_FORMAT(max(payment_date), '%Y-%m-%d') payment_date from p10_payment_record where del_flag = 0 and payment_type != 200 GROUP BY project_id limit 1) p10_payment_record
				on p10_payment_record.project_id = p10_project.project_id
				)p10_project
			)p10_project
			where DATE_SUB(p10_project.endTime, INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "sssxdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and p10_project.endTime >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 执行时效到期 -->
			select 4 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,null as casee_id,null as casee_number,null as businessId,null as executedName,p10_project.endTime as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),p10_project.endTime) as remainingDays from (
			select p10_project.*,DATE_ADD(p10_project.startDate ,INTERVAL (select deadline_num from p10_deadline_configure where del_flag = 0 and period_configure_key = "sssxdq" limit 1) year) endTime
			from (
				select p10_project.*,if(p10_payment_record.payment_date is null,p10_project.startingTime,if(p10_project.startingTime>=p10_payment_record.payment_date,p10_project.startingTime,p10_payment_record.payment_date)) startDate from(
					select p10_project.*,DATE_FORMAT(if(p10_project_urge.urge_time is null,substring(json_extract( p10_transfer_record.transfer_detail, '$.startingTime' ),2,10),p10_project_urge.urge_time), '%Y-%m-%d') startingTime from p10_project
					left join p10_transfer_record on p10_transfer_record.project_id = p10_project.project_id
					left join p10_project_casee_re on p10_project_casee_re.project_id = p10_project.project_id
					left join p10_casee on p10_project_casee_re.casee_id = p10_casee.casee_id and p10_casee.casee_type in (3031,3031)
					left join (select project_id,max(urge_time) urge_time from p10_project_urge where del_flag = 0 and urge_according = 200 GROUP BY project_id )p10_project_urge on p10_project_urge.project_id = p10_project.project_id
					where p10_project.del_flag = 0
					and p10_project.project_type = 100
					and p10_project.`status` = 1000
					and p10_casee.casee_id is null
					and json_extract( p10_transfer_record.transfer_detail, '$.litigation' )=1
					) p10_project
				left join (select project_id,DATE_FORMAT(max(payment_date), '%Y-%m-%d') payment_date from p10_payment_record where del_flag = 0 and payment_type != 200 GROUP BY project_id limit 1) p10_payment_record
				on p10_payment_record.project_id = p10_project.project_id
				)p10_project
			)p10_project
			where DATE_SUB(p10_project.endTime, INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "zxsxdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and p10_project.endTime >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 上诉期结束 -->
			select 5 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,null as businessId,p10_casee.executed_name as executedName,substring(JSON_EXTRACT(p10_casee.casee_detail, "$.finalReceiptTime"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_casee.casee_detail, "$.finalReceiptTime"),2,10)) as remainingDays from p10_casee
			left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
			left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_casee.casee_type = 2020
			and p10_casee.`status` = 1
			and DATE_SUB(substring(JSON_EXTRACT(p10_casee.casee_detail, "$.finalReceiptTime"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "ssqjs" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_casee.casee_detail, "$.finalReceiptTime"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 履行到期 -->
			select 6 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_reconciliatio_mediation.reconciliatio_mediation_id as businessId,p10_fulfillment_records.subject_name as executedName,DATE_FORMAT(p10_fulfillment_records.fulfillment_time,'%Y-%m-%d') as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),DATE_FORMAT(p10_fulfillment_records.fulfillment_time,'%Y-%m-%d')) as remainingDays from p10_reconciliatio_mediation
			left join p10_project on p10_project.project_id = p10_reconciliatio_mediation.project_id
			left join p10_casee on p10_casee.casee_id = p10_reconciliatio_mediation.casee_id
			left join p10_fulfillment_records on p10_fulfillment_records.reconciliatio_mediation_id = p10_reconciliatio_mediation.reconciliatio_mediation_id
			where p10_reconciliatio_mediation.del_flag = 0
			and p10_reconciliatio_mediation.`status` = 0
			and p10_fulfillment_records.`status` = 0
			and DATE_SUB(DATE_FORMAT(p10_fulfillment_records.fulfillment_time,'%Y-%m-%d'), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "lxdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and DATE_FORMAT(p10_fulfillment_records.fulfillment_time,'%Y-%m-%d') >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 裁判结果生效 -->
			select 7 as reminderType,null as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,null as businessId,p10_casee.executed_name as executedName,substring(JSON_EXTRACT(p10_casee.casee_detail, "$.effectiveDate"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_casee.casee_detail, "$.effectiveDate"),2,10)) as remainingDays from p10_casee
			left join p10_project_casee_re on p10_project_casee_re.casee_id = p10_casee.casee_id
			left join p10_project on p10_project.project_id = p10_project_casee_re.project_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_casee.casee_type in (2020,2021,2030)
			and p10_casee.`status` = 1
			and DATE_SUB(substring(JSON_EXTRACT(p10_casee.casee_detail, "$.effectiveDate"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "cpjgsx" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_casee.casee_detail, "$.effectiveDate"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 实体财产查封到期 -->
			select 8 as reminderType,p10_assets.assets_name as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_assets_re.assets_re_id as businessId,p10_assets_re.subject_name as executedName,substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsSeizure.seizureExpiryDate"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsSeizure.seizureExpiryDate"),2,10)) as remainingDays from p10_assets_re
			left join p10_project on p10_project.project_id = p10_assets_re.project_id
			left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
			left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_assets_re.casee_id is not null
			and p10_assets.type = 20200
			and DATE_SUB(substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsSeizure.seizureExpiryDate"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "stcccfdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsSeizure.seizureExpiryDate"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 资金财产冻结到期 -->
			select 9 as reminderType,p10_assets.assets_name as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_assets_re.assets_re_id as businessId,p10_assets_re.subject_name as executedName,substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsFreeze.freezeExpirationDate"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsFreeze.freezeExpirationDate"),2,10)) as remainingDays from p10_assets_re
			left join p10_project on p10_project.project_id = p10_assets_re.project_id
			left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
			left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_assets_re.casee_id is not null
			and p10_assets.type = 20100
			and DATE_SUB(substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsFreeze.freezeExpirationDate"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "zjccdjdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_assets_re.assets_re_detail, "$.assetsFreeze.freezeExpirationDate"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 公告期到期 -->
			select 10 as reminderType,p10_assets.assets_name as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_assets_re.assets_re_id as businessId,p10_assets_re.subject_name as executedName,substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionStartDate"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionStartDate"),2,10)) as remainingDays from p10_assets_re
			left join p10_project on p10_project.project_id = p10_assets_re.project_id
			left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
			left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
			left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_assets_re.casee_id = p10_target.casee_id
			left join p10_task_node on p10_task_node.target_id = p10_target.target_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_assets_re.casee_id is not null
			and p10_assets.type = 20200
			and p10_target.goal_type = 20001
			and p10_task_node.node_attributes = 400
			and p10_task_node.node_key = "entityZX_STZX_CCZXPMGG_CCZXPMGG"
			and DATE_SUB(substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionStartDate"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "ggqdq" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionStartDate"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
			UNION
			<!-- 拍卖结束 -->
			select 11 as reminderType,p10_assets.assets_name as businessName,p10_project.project_id,p10_project.company_code,p10_project.ins_id,p10_project.outles_id,p10_casee.casee_id,p10_casee.casee_number,p10_assets_re.assets_re_id as businessId,p10_assets_re.subject_name as executedName,substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionEndDate"),2,10) as expireDate,timestampdiff(day,DATE_FORMAT(now(), '%Y-%m-%d'),substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionEndDate"),2,10)) as remainingDays from p10_assets_re
			left join p10_project on p10_project.project_id = p10_assets_re.project_id
			left join p10_casee on p10_casee.casee_id = p10_assets_re.casee_id
			left join p10_assets on p10_assets.assets_id = p10_assets_re.assets_id
			left join p10_target on p10_target.goal_id = p10_assets_re.assets_id and p10_assets_re.casee_id = p10_target.casee_id and p10_project.project_id = p10_target.project_id
			left join p10_task_node on p10_task_node.target_id = p10_target.target_id
			where p10_project.del_flag = 0
			and p10_project.project_type = 100
			and p10_project.`status` = 1000
			and p10_assets_re.casee_id is not null
			and p10_assets.type = 20200
			and p10_target.goal_type = 20001
			and p10_task_node.node_attributes = 400
			and p10_task_node.node_key = "entityZX_STZX_CCZXPMGG_CCZXPMGG"
			and DATE_SUB(substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionEndDate"),2,10), INTERVAL (select reminder_days from p10_deadline_configure WHERE del_flag = 0 and period_configure_key = "pmjs" limit 1) day) &lt;= DATE_FORMAT(now(),'%Y-%m-%d')
			and substring(JSON_EXTRACT(p10_task_node.form_data, "$.auctionEndDate"),2,10) >= DATE_FORMAT(now(), '%Y-%m-%d')
		)statisticsReminder
		<where>
			<if test="login.insId != null and login.insId > 0">
				and statisticsReminder.ins_id = #{login.insId}
			</if>
			<if test="login.outlesId != null and login.outlesId > 0">
				and statisticsReminder.outles_id = #{login.outlesId}
			</if>
			<if test="query.companyCode != null and query.companyCode != ''">
				and statisticsReminder.company_code like concat('%', #{query.companyCode}, '%')
			</if>
			<if test="query.executedName != null and query.executedName != ''">
				and statisticsReminder.executedName like concat('%', #{query.executedName}, '%')
			</if>
			<if test="query.beginDate != null and query.endDate != null  ">
				AND statisticsReminder.expireDate BETWEEN DATE_FORMAT(#{query.beginDate}, '%Y-%m-%d 00:00:00') and
				DATE_FORMAT(#{query.endDate}, '%Y-%m-%d 23:59:59')
			</if>
		</where>
		ORDER BY statisticsReminder.expireDate asc
	</select>

</mapper>
