<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.SubjectBankLoanReMapper">

  <resultMap id="subjectBankLoanReMap" type="com.pig4cloud.pig.casee.entity.SubjectBankLoanRe">
    <id property="subjectBankLoanId" column="subject_bank_loan_id"/>
    <result property="bankLoanId" column="bank_loan_id"/>
    <result property="subjectId" column="subject_id"/>
	<result property="debtType" column="debt_type"/>
  </resultMap>

	<select id="getSubjectBankLoanRe" resultType="java.lang.String">
	SELECT p10_subject.name FROM `p10_subject_bank_loan_re`
	LEFT JOIN p10_subject ON p10_subject.subject_id = p10_subject_bank_loan_re.subject_id
	WHERE
	p10_subject_bank_loan_re.bank_loan_id = #{bankLoanId}
	</select>

	<select id="getSubjectBankLoanReInformationVO" resultType="com.pig4cloud.pig.casee.vo.SubjectInformationVO">
	SELECT p10_subject.*,p10_subject_bank_loan_re.debt_type as debtType ,p10_subject_bank_loan_re.subject_bank_loan_id as subjectBankLoanId
	FROM `p10_subject_bank_loan_re`
	LEFT JOIN p10_subject ON p10_subject.subject_id = p10_subject_bank_loan_re.subject_id
	LEFT JOIN p10_bank_loan ON p10_bank_loan.bank_loan_id = p10_subject.subject_id
	WHERE
	p10_subject_bank_loan_re.bank_loan_id = #{bankLoanId}
	</select>

	<select id="selectSubjectId" resultType="integer">
	SELECT subject_id FROM `p10_subject_bank_loan_re`
	WHERE
	p10_subject_bank_loan_re.bank_loan_id = #{bankLoanId}
	</select>
</mapper>
