<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.TargetBizLiquiMapper">

	<!--	<resultMap id="targetMap" type="com.pig4cloud.pig.casee.entity.Target">-->
	<!--		<id property="targetId" column="target_id"/>-->
	<!--		<result property="createTime" column="create_time"/>-->
	<!--		<result property="createBy" column="create_by"/>-->
	<!--		<result property="updateTime" column="update_time"/>-->
	<!--		<result property="updateBy" column="update_by"/>-->
	<!--		<result property="delFlag" column="del_flag"/>-->
	<!--		<result property="targetName" column="target_name"/>-->
	<!--		<result property="caseeId" column="casee_id"/>-->
	<!--		<result property="businessType" column="business_type"/>-->
	<!--		<result property="status" column="status"/>-->
	<!--		<result property="targetCategory" column="target_category"/>-->
	<!--		<result property="targetType" column="target_type"/>-->
	<!--		<result property="createOutlesId" column="create_outles_id"/>-->
	<!--		<result property="createInsId" column="create_ins_id"/>-->
	<!--		<result property="targetDetail" column="target_detail"/>-->
	<!--		<result property="describes" column="describes"/>-->
	<!--		<result property="businessData" column="business_data"/>-->
	<!--	</resultMap>-->


	<select id="selectTargetThingById" resultType="com.pig4cloud.pig.casee.vo.TargetThingByIdVO">
		select p10_casee.company_code,p10_court.court_name as courtName,p10_target.*,p10_address.province province,p10_address.city city,p10_address.area area,p10_address.information_address informationAddress
		, p10_subject.name as executedName
		 from p10_target
		left join p10_subject on p10_subject.unified_identity = p10_target.executed_unified_identity and p10_subject.del_flag = 0
		left join p10_casee on p10_casee.casee_id = p10_target.casee_id
		left join p10_court on p10_court.court_id=json_extract(target_detail,"$.courtId") and p10_court.del_flag='0'
		left join p10_address on p10_address.address_id = p10_target.address_id
		where p10_target.del_flag = 0 and p10_target.target_id = #{targetId}
	</select>

	<select id="selectTargetById" resultType="com.pig4cloud.pig.casee.vo.TargetByIdVO">
		select p10_casee.company_code,p10_target.*,
		p10_outles.outles_name as createOutlesName,
		p10_institution.ins_name as createInsName
		from p10_target
		left join p10_casee on p10_casee.casee_id = p10_target.casee_id
		left join p10_outles on p10_outles.outles_id = p10_target.create_outles_id
		left  join p10_institution on p10_institution.ins_id = p10_target.create_ins_id
		where p10_target.del_flag = 0 and p10_target.target_id = #{targetId}
	</select>


</mapper>
