<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.TaskNodeMapper">

	<resultMap id="taskNodeMap" type="com.pig4cloud.pig.casee.entity.TaskNode">
		<id property="nodeId" column="node_id"/>
		<result property="nodeKey" column="node_key"/>
		<result property="nodeName" column="node_name"/>
		<result property="canSkip" column="can_skip"/>
		<result property="nodeAttributes" column="node_attributes"/>
		<result property="actDeploymentId" column="act_deployment_id"/>
		<result property="charge" column="charge"/>
		<result property="score" column="score"/>
		<result property="nodeOrder" column="node_order"/>
		<result property="addProcess" column="add_process"/>
		<result property="formId" column="form_id"/>
		<result property="parentNodeId" column="parent_node_id"/>
		<result property="remark" column="remark"/>
		<result property="needAudit" column="need_audit"/>
		<result property="needCost" column="need_cost"/>
		<result property="actReProcdefId" column="act_re_procdef_id"/>
		<result property="finalProcess" column="final_process"/>
		<result property="insId" column="ins_id"/>
		<result property="outlesId" column="outles_id"/>
		<result property="projectId" column="project_id"/>
		<result property="caseeId" column="casee_id"/>
		<result property="insType" column="ins_type"/>
		<result property="targetId" column="target_id"/>
		<result property="sort" column="sort"/>
		<result property="process" column="process"/>
		<result property="actTaskId" column="act_task_id"/>
		<result property="status" column="status"/>
		<result property="nodeType" column="node_type"/>
		<result property="formData" column="form_data"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="createBy" column="create_by"/>
		<result property="updateBy" column="update_by"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<select id="getTaskNodeAll" resultType="com.pig4cloud.pig.casee.vo.TaskNodeVO">
		SELECT * FROM p10_task_node WHERE casee_id=#{caseeId} AND del_flag=0 AND node_type=0  ORDER BY sort asc
	</select>



	<select id="auditList" resultType="com.pig4cloud.pig.casee.vo.AgentMatterVO">
		SELECT
		p10_task_node.*,
		p10_casee.company_code AS companyCode,
		p10_casee.casee_type AS caseeType,
		p10_target.target_name AS targetName,
		p10_target.target_type AS targetType,
		p10_target.status_confirm AS targetStatusConfirm,
		p10_target.business_type AS businessType,
		commissionIns.ins_name AS commissionInsName,
		commissionOutles.outles_name AS commissionOutlesName,
		commissionUser.nick_name AS commissionNickName,
		entrustedIns.ins_name AS entrustedInsName,
		entrustedOutles.outles_name AS entrustedOutlesName,
		entrustedUser.nick_name AS entrustedNickName,
		p10_task_record.status as taskRecordStatus,
		p10_task_record.trustee_type as recordTrusteeType,
		p10_task_record.trustee_status as recordTrusteeStatus,
		p10_task_record.create_time as taskRecordCreateTime,
		p10_task_record.update_time as taskRecordUpdateTime
		FROM
		p10_task_record
		LEFT JOIN p10_casee ON p10_casee.casee_id = p10_task_record.casee_id AND p10_casee.del_flag = 0
		LEFT JOIN p10_target ON p10_target.target_id = p10_task_record.target_id AND p10_target.del_flag = 0
		LEFT JOIN p10_task_node ON p10_task_node.node_id = p10_task_record.node_id AND p10_task_node.del_flag = 0
		LEFT JOIN p10_institution AS commissionIns ON commissionIns.ins_id = p10_task_record.submit_ins_id AND commissionIns.del_flag = 0
		LEFT JOIN p10_outles AS commissionOutles  ON commissionOutles.outles_id = p10_task_record.submit_outles_id AND commissionOutles.del_flag = 0
		LEFT JOIN sys_user AS commissionUser ON commissionUser.user_id = p10_task_record.submit_id AND commissionUser.del_flag = 0
		LEFT JOIN p10_institution AS entrustedIns  ON entrustedIns.ins_id = p10_task_record.trustee_ins_id AND entrustedIns.del_flag = 0
		LEFT JOIN p10_outles AS entrustedOutles ON  entrustedOutles.outles_id = p10_task_record.trustee_outles_id AND entrustedOutles.del_flag = 0
		LEFT JOIN sys_user AS entrustedUser ON entrustedUser.user_id = p10_task_record.trustee_id AND entrustedUser.del_flag = 0
		LEFT JOIN act_hi_procinst ON act_hi_procinst.BUSINESS_KEY_ = p10_task_record.node_id
		LEFT JOIN act_ru_task ON act_ru_task.PROC_INST_ID_ = act_hi_procinst.PROC_INST_ID_

		<if test="taskFlowDTO.type == 100">
			WHERE p10_task_record.del_flag=0 AND p10_task_record.status=101 AND p10_task_record.auditor_id=#{userId}  AND act_ru_task.ASSIGNEE_=#{userId}
		</if>
		<if test="taskFlowDTO.type == 200">
			WHERE p10_task_record.del_flag=0 AND p10_task_record.can_entrust=1
			AND act_ru_task.ASSIGNEE_=#{userId} AND p10_task_record.trustee_id=#{userId}
			AND ISNULL(p10_task_record.handler_id)
		</if>
		<if test="taskFlowDTO.nodeName != null and taskFlowDTO.nodeName != ''">
			and p10_task_node.node_name = #{taskFlowDTO.nodeName}
		</if>
		<if test="taskFlowDTO.insType != null and taskFlowDTO.insType != ''">
			and p10_task_node.ins_type = #{taskFlowDTO.insType}
		</if>
		<if test="taskFlowDTO.beginDate != null and taskFlowDTO.beginDate != '' and taskFlowDTO.endDate != null and taskFlowDTO.endDate != '' ">
			AND p10_task_node.update_time BETWEEN   DATE_FORMAT(#{taskFlowDTO.beginDate} , '%Y-%m-%d 00:00:00')and DATE_FORMAT(#{taskFlowDTO.endDate}, '%Y-%m-%d 23:59:59')
		</if>
		<if test="taskFlowDTO.companyCode != null and taskFlowDTO.companyCode != ''">
			and p10_casee.company_code like concat('%', #{taskFlowDTO.companyCode}, '%')
		</if>
		<if test="taskFlowDTO.targetName != null and taskFlowDTO.targetName != ''">
			and p10_target.target_name like concat('%', #{taskFlowDTO.targetName}, '%')
		</if>

		ORDER BY p10_task_node.update_time desc
	</select>


	<select id="taskDetails" resultType="com.pig4cloud.pig.casee.vo.AgentMatterVO">
		SELECT
		p10_task_node.*,
		p10_casee.company_code as companyCode,
		p10_casee.casee_type as caseeType,
		p10_target.target_name as targetName,
		p10_target.target_type as targetType,
		p10_target.status_confirm as targetStatusConfirm,
		p10_target.status as targetStatus,
		p10_target.target_type as targetType,
		p10_target.business_type as businessType,
		sys_user.nick_name as entrustedNickName,
		p10_outles.outles_name as entrustedOutlesName,
		p10_institution.ins_name as entrustedInsName
		FROM p10_task_node
		left join p10_casee on p10_casee.casee_id=p10_task_node.casee_id and p10_casee.del_flag=0
		left join p10_target on p10_target.target_id=p10_task_node.target_id and p10_target.del_flag=0
		left join sys_user on sys_user.user_id=p10_task_node.update_by and sys_user.del_flag=0
		left join p10_outles on p10_outles.outles_id=p10_task_node.outles_id and p10_outles.del_flag=0
		left join p10_institution on p10_institution.ins_id=p10_task_node.ins_id and p10_institution.del_flag=0
		WHERE p10_task_node.del_flag=0 AND node_id =#{nodeId}
	</select>

	<select id="queryNewTaskNode" resultType="com.pig4cloud.pig.casee.entity.TaskNode">
		SELECT * FROM p10_task_node WHERE node_key=#{taskNodeKey}
		<if test="taskNode.projectId != null and taskNode.projectId != ''">
			and project_id=#{taskNode.projectId}
		</if>
		<if test="taskNode.caseeId != null and taskNode.caseeId != ''">
			and casee_id=#{taskNode.caseeId}
		</if>
		<if test="taskNode.targetId != null and taskNode.targetId != ''">
			and target_id=#{taskNode.targetId}
		</if>
		AND del_flag=0 AND node_type=0
		ORDER BY p10_task_node.create_time desc LIMIT 1
	</select>

</mapper>
