<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.casee.mapper.TransferRecordLiquiMapper">

  <resultMap id="transferRecordMap" type="com.pig4cloud.pig.casee.entity.TransferRecord">
    <id property="transferRecordId" column="transfer_record_id"/>
    <result property="entrustedInsId" column="entrusted_ins_id"/>
    <result property="entrustedOutlesId" column="entrusted_outles_id"/>
    <result property="projectId" column="project_id"/>
    <result property="sourceId" column="source_id"/>
    <result property="handoverTime" column="handover_time"/>
    <result property="returnTime" column="return_time"/>
	<result property="status" column="status"/>
	<result property="transferType" column="transfer_type"/>
	<result property="feedbackNotes" column="feedback_notes"/>
	<result property="transferDetail" column="transfer_detail"/>
	<result property="remark" column="remark"/>
  </resultMap>

	<resultMap id="MortgageAssetsRecordsMap" type="com.pig4cloud.pig.casee.vo.MortgageAssetsVO" extends="transferRecordMap">
		<result property="mortgageAssetsRecordsId" column="mortgage_assets_records_id"/>
		<collection property="assetsVoList" ofType="com.pig4cloud.pig.casee.vo.AssetsVO"
					select="com.pig4cloud.pig.casee.mapper.MortgageAssetsReMapper.getAssetsList" column="mortgage_assets_records_id"></collection>
	</resultMap>

	<select id="getBankLoanIdTransferRecord" resultType="com.pig4cloud.pig.casee.entity.liquientity.TransferRecordLiqui">
		select
		*,
		p10_institution.ins_name as entrustedInsName,
		p10_outles.outles_name as entrustedOutlesName
		from p10_transfer_record
		left join p10_institution on p10_institution.ins_id=p10_transfer_record.entrusted_ins_id
		left join p10_outles on p10_outles.outles_id=p10_transfer_record.entrusted_outles_id
		where
		p10_transfer_record.del_flag=0 and p10_transfer_record.source_id=#{sourceId} and p10_transfer_record.transfer_type=#{transferType}
	</select>

	<select id="getTransferRecordPage" resultType="com.pig4cloud.pig.casee.vo.TransferRecordBankLoanVO">
		SELECT
		*,
		entrustedInstitution.ins_name AS entrustedInsName,
		entrustedOutles.outles_name AS entrustedOutlesName,
		institution.ins_name AS insName,
		outles.outles_name AS outlesName,
		p10_bank_loan.*
		FROM
		p10_transfer_record
		LEFT JOIN p10_institution AS entrustedInstitution ON entrustedInstitution.ins_id = p10_transfer_record.entrusted_ins_id
		LEFT JOIN p10_outles AS entrustedOutles ON entrustedOutles.outles_id = p10_transfer_record.entrusted_outles_id
		LEFT JOIN p10_bank_loan ON p10_bank_loan.bank_loan_id = p10_transfer_record.source_id and transfer_type=0
		LEFT JOIN p10_institution AS institution ON institution.ins_id = p10_bank_loan.ins_id
		LEFT JOIN p10_outles AS outles ON outles.outles_id = p10_bank_loan.outles_id
		WHERE
		p10_transfer_record.del_flag = 0
		<if test="login.insId != null and login.insId > 0">
			and p10_transfer_record.entrusted_ins_id = #{login.insId}
		</if>
		<if test="login.outlesId != null and login.outlesId > 0">
			and p10_transfer_record.entrusted_outles_id = #{login.outlesId}
		</if>
		<if test="query.status != null and query.status != -1">
			and p10_transfer_record.status=#{query.status}
		</if>
		<if test="query.handoverTime != null">
			and p10_transfer_record.handover_time=#{query.handoverTime}
		</if>
		<if test="query.subjectName != null and query.subjectName != ''">
			and  p10_bank_loan.subject_name like concat('%', #{query.subjectName}, '%')
		</if>
		ORDER BY p10_transfer_record.create_time desc
	</select>

	<select id="getTransferRecordBankLoan" resultType="com.pig4cloud.pig.casee.vo.TransferRecordBankLoanVO">
		SELECT
			p10_transfer_record.*,
			institution.ins_name AS insName,
			outles.outles_name AS outlesName,
			p10_bank_loan.*
		FROM
			p10_transfer_record
			LEFT JOIN p10_bank_loan ON p10_bank_loan.bank_loan_id = p10_transfer_record.source_id and transfer_type=0
			LEFT JOIN p10_institution AS institution ON institution.ins_id = p10_bank_loan.ins_id
			LEFT JOIN p10_outles AS outles ON outles.outles_id = p10_bank_loan.outles_id
		WHERE
			p10_transfer_record.del_flag = 0
			<if test="transferRecordId != null">
				and p10_transfer_record.transfer_record_id=#{transferRecordId}
			</if>
			<if test="projectId != null">
				and p10_transfer_record.project_id=#{projectId}
			</if>
		LIMIT 1
	</select>

	<select id="getProjectIdByAssets" resultType="com.pig4cloud.pig.casee.vo.AssetsInformationVO">
		SELECT
			p10_assets_bank_loan_re.mortgage_amount,p10_assets_bank_loan_re.mortgage_time,p10_assets_bank_loan_re.subject_id,p10_assets.*,p10_address.*
		FROM
		p10_transfer_record
		LEFT JOIN p10_assets_bank_loan_re ON p10_assets_bank_loan_re.bank_loan_id = p10_transfer_record.source_id and transfer_type=0
		LEFT JOIN p10_assets ON p10_assets.assets_id = p10_assets_bank_loan_re.assets_id
		LEFT JOIN p10_address ON p10_address.user_id = p10_assets.assets_id and p10_address.type=4
		WHERE
		p10_transfer_record.del_flag = 0 and p10_transfer_record.project_id=#{projectId}
	</select>

	<select id="getProjectIdByMortgageAssets" resultMap="MortgageAssetsRecordsMap">
		SELECT
			p10_mortgage_assets_records.*
		FROM
			`p10_transfer_record`
			LEFT JOIN p10_mortgage_assets_records ON p10_mortgage_assets_records.bank_loan_id = p10_transfer_record.source_id
		WHERE
			p10_transfer_record.del_flag = 0 and p10_transfer_record.project_id=#{projectId}
	</select>

	<select id="getByProjectId" resultType="com.pig4cloud.pig.casee.entity.liquientity.TransferRecordLiqui">
		select * from p10_transfer_record
		where del_flag = 0 and project_id = #{projectId}
		<if test="transferType != null">
			and transfer_type = #{transferType}
		</if>
	</select>
</mapper>
